{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Stránka nebyla nalezena{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> Stránka nebyla nalezena{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig'%}{% endblock %}

{% block javascripts %}
  <script type="text/javascript"><!--
    _gas.push(['_trackEvent', 'Error', '404', location.pathname]);

    dataLayer.push({
      'category': 'Error',
      'code': '404',
      'action': location.pathname,
      'event': 'trackEvent'
    });
    //-->
  </script>
{% endblock %}

{% block content %}
<div class="main">
  <div class="content">
    <h1 class="error">Stránka nebyla nalezena</h1>
    <h3>Pravděpodobně nastala jedna z těchto situací</h3>


    <ul>
      <li>do prohlížeče bylo zadáno špatné URL</li>
      <li>přicházíte z vyhledávače, který má v databázi již neexistující stránku</li>
      <li>máme na webu špatný odkaz</li>
    </ul>

    <p>Doporučujeme přejít na <a href="/">úvodní stránku webu</a> nebo zkusit některý z&nbsp;odkazů v menu. Děkujeme za pochopení a omlouváme se za způsobené nepříjemnosti (tato chyba byla zaznamenána a budeme se ji snažit co nejříve opravit).</p>
  </div>
</div>
{% endblock %}
