<script type="text/javascript">
  {% autoescape false %}
    var addthis_share = {
      templates: {
          twitter: '{{ twitterTemplate }}'
      },
      url: "{{ url }}",
      title: "{{ title }}"
    };
  {% endautoescape %}
</script>