<a name="co-jeste-muzete-udelat"></a>
<div class="col l">
  <h2>Co dále?</h2>
  <ul>
    {% if budgetDataCollection.administrationUnit.email %}
       <div class="btn clr mBot">
         <li><a class="write-to-your-representatives" href="mailto:{{budgetDataCollection.administrationUnit.email}}?subject=Dotaz%20k%20rozpočtu%20obce&body={{url('PublicBudgetFrontendBundle_municipality_detail', {'rok':budgetDataCollection.activeYear,'slug':budgetDataCollection.administrationUnit.slug}) }}">Napište svým zastupitelům</a></li>
       </div>
    {% endif %}
    <li>Komentujte rozpočet své obce</li>
    <li><a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}">Přečtěte si více o rozpočtu obcí</a></li>
    <li><a href="{{budgetDataCollection.administrationUnit.getWikiPage()}}">Prozkoumejte stránku obce na Wikipedii</a></li>
    <li><a href="http://www.vsechnyzakazky.cz/zadavatel/list/?zadavatel_ico={{budgetDataCollection.administrationUnit.getOrganizationIco()}}">Prozkoumejte veřejné zakázky</a></li>
    <li><a href="http://www.slibujeme.cz/materials/advanced_search?m={{(budgetDataCollection.administrationUnit.getName() ~ ' (okr. ' ~ budgetDataCollection.administrationUnit.getOkres().getName() ~ ')')|url_encode() }}">Prozkoumejte sliby zastupitelů</a></li>
    <li><a href="http://vdb.czso.cz/vdbvo/tabdetail.jsp?pro_1_154={{budgetDataCollection.administrationUnit.getCsuCode()}}&cislotab=MOS+ZV01">Nahlédněte do Veřejné databáze</a></li>
    <li><a href="{{path('PublicBudgetFrontendBundle_contact')}}">Napište nám, co máme zlepšit</a></li>
    <li><a href="{{path('PublicBudgetFrontendBundle_about_us')}}#jak-pomoci">Podpořte nás</a></li>
    <li>Exportujte rozpočty (2000-2013):<br/> <a href="{{path('PublicBudgetFrontendBundle_municipality_data_export', {'ico':budgetDataCollection.administrationUnit.getOrganizationIco(), 'type':'cz'})}}">CSV české</a> / <a href="{{path('PublicBudgetFrontendBundle_municipality_data_export', {'ico':budgetDataCollection.administrationUnit.getOrganizationIco(), 'type':'us'})}}">CSV anglické</a><a style="padding-left: 5px" href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}#excel"><img style="display: inline" src="{{ asset('bundles/publicbudgetfrontend/images/question_mark_icon.gif') }}" /></a></li>
  </ul>
</div>