{% if result.selectedMunicipalitySummaryValue %}
  {% set municipality = result.selectedMunicipalitySummaryValue.municipality  %}
  <h3>Vybraná obec</h3>
  <table class="filtrovaneObce">
    <tbody>
      <tr>
        <td><a href="{{ path(result.municipalityRouteData.route, result.municipalityRouteData.params|merge({ 'slug': municipality.slug})) }}#{{result.municipalityRouteData.fragment}}">{{municipality.name}}</a></td>
        <td class="schodek">{{ twig_number_format_for_display(result.selectedMunicipalitySummaryValue.value, display) }}</td>
        {% if form.vars.value.perInhabitant and form.vars.value.budgetItem %}
           <td>{{ twig_number_format(municipality.getPopulationFor(form.vars.value.year)) }} obyvatel</td>
        {% endif %}
        <td class="kraj">{{ municipality.okres.name }} ({{ municipality.kraj.name }})</td>
      </tr>
    </tbody>
  </table>
{% endif %}