<div class="headingWithSocialButtons clr">
  <h3>{{ title }}</h3>
  <div class="socialButtons">
    <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_pinterest_pinit"></a>
      <a class="addthis_counter addthis_pill_style"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5151986a6f0d5db2"></script>
    <!-- AddThis Button END -->
  </div>
</div>