        <div class="filtrObci">
          <div class="inner">

            <form action="{{ path('PublicBudgetFrontendBundle_municipality_filter') }}" method="get">
              <div class="row clr">
                <div class="column1">
                  <div class="formControl">
                    {{ form_label(form.budget_item) }}
                    {{ form_widget(form.budget_item) }}
                  </div>
                </div>
                <div class="column2">
                  <div class="formControl">
                    {{ form_label(form.budget_item_income) }}
                    {{ form_widget(form.budget_item_income) }}
                    {% include 'PublicBudgetFrontendBundle:Municipality:_filter_form_budget_item_income_select.html.twig' %}
                  </div>
                </div>
                <div class="column2">
                  <div class="formControl">
                    {{ form_label(form.budget_item_expense) }}
                    {{ form_widget(form.budget_item_expense) }}
                    {% include 'PublicBudgetFrontendBundle:Municipality:_filter_form_budget_item_expense_select.html.twig' %}
                    <div id="expenseTypeSimpleSwitch" style="text-align: center; font-size:11px; display:none;">
                          <a href="#" data-type-value="">Vše</a>
                       <i>/</i>
                          <a href="#">Provozní</a>
                       <i>/</i>
                          <a href="#">Investiční</a>
                    </div>
                  </div>
                </div>
                <div class="column3 last">
                  <div class="formControl">
                    {{ form_label(form.budget_item_purpose) }}
                    {{ form_widget(form.budget_item_purpose) }}
                    {% include 'PublicBudgetFrontendBundle:Municipality:_filter_form_budget_item_purpose_select.html.twig' %}
                  </div>
                </div>
                <div>
                  <div class="radioControl">
                    {{ form_widget(form.per_inhabitant) }}
                  </div>
                </div>
              </div>
              <div class="row clr">
                <div class="column1">
                  <div class="formControl">
                    {{ form_label(form.kraj) }}
                    {{ form_widget(form.kraj) }}
                  </div>
                </div>
                <div class="column2">
                  <div class="formControl">
                    {{ form_label(form.okres) }}
                    {{ form_widget(form.okres) }}
                  </div>
                </div>
                <div class="column2">
                  <div class="formControl">
                    {{ form_label(form.population_range) }}
                    {{ form_widget(form.population_range) }}
                  </div>
                </div>
                <div class="column3 last">
                  <div class="formControl">
                    {{ form_label(form.year) }}
                    {{ form_widget(form.year) }}
                  </div>
                </div>
                <div>
                  <div class="radioControl">
                    {{ form_widget(form.sort) }}
                  </div>
                </div>
              </div>
              <div class="row clr">
                <div class="column1">
                  <div class="formControl">
                    {{ form_label(form.municipality) }}
                    <input type="text" id="selectedMunicipalityAutocomplete" style="display:none"/>
                    {{ form_widget(form.municipality) }}
                  </div>
                </div>
              </div>
              <div class="row clr">
                <div class="column1">
                  <div class="submitControl">
                    <input type="submit" value="Vybrat obce" class="sub" />
                  </div>
                </div>
                <div class="column5 last">
                  <div class="downloadLink">
                    <a href="{{smart_path({'csv_export':1})}}">Stáhnout export v CSV</a>
                  </div>
                </div>
              </div>
              {{ form_rest(form) }}
            </form>
          </div>
        </div>