<h3>Žebříček obcí</h3>
<table class="filtrovaneObce">
  {% for municipality in result.rows %}
    <tr>
      <td><a href="{{ path(result.municipalityRouteData.route, result.municipalityRouteData.params|merge({ 'slug': municipality.slug})) }}#{{result.municipalityRouteData.fragment}}">{{ municipality.name }}</a></td>
      {% if municipality.value is defined %}
        <td class="schodek">{{ twig_number_format_for_display(municipality.value, display) }}</td>
      {% endif %}
      {% if form.vars.value.perInhabitant and form.vars.value.budgetItem %}
        <td>{{ twig_number_format(municipality.population_count) }} obyvatel</td>
      {% endif %}
      <td class="kraj">{{ municipality.okres_name }} ({{ municipality.kraj_name }})</td>
    </tr>
  {% endfor %}
</table>
{% if result.pageCount > 1 %}
  <div class="pager">
    {% for i in range(1, result.pageCount) %}
        <a{% if i == page %} class="active"{% endif %} href="{{smart_path({'strana': i})}}">{{i}}</a>
    {% endfor %}
  </div>
{% endif %}