<script type="text/javascript">
  var addthis_share = {
    templates: {
        twitter: '{{ budgetDataCollection.shareMessages.twitter }}'
    }
  };
</script>
<div class="add">
  <div class="addthis_toolbox addthis_default_style">
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_tweet"></a>
    <a class="addthis_button_google_plusone" g:plusone:size="small"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f25250919607714"></script>
</div>