        <div class="filtrObci">
          <div class="inner">

            <form action="{{ path('PublicBudgetFrontendBundle_municipality_timeline', {slug: municipality.slug}) }}" method="get">
                <div class="col1">
                    {{ form_label(form.percent_significance) }}
                    {{ form_widget(form.percent_significance) }} %
                </div>
                <div class="col5">
                    <input type="submit" value="Vybrat" class="sub" />
                </div>
              {{ form_rest(form) }}
            </form>
          </div>
        </div>