{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Porovnání obcí{% endblock %}

{% block breadcrumbs %}<a href="">Rozklikávací rozpočet obce</a> Porovnání obcí{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 2} %}{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/publicbudgetfrontend/js/municipality-compare.js') }}"></script>
{% endblock %}

{% block content %}
      <div class="main">
        <div class="content">
          <h1>Porovnejte rozpočet obce</h1>
          {% if app.session.hasFlash('error') %}
              <span class="red">{{ app.session.flash('error') }}</span>
          {% endif %}
          <form method="post" action="">
            <div class="clr compare">
              <div class="rel">
                <input name="search1" type="text" class="text autocomplete" id="search1"/>
                <input name="municipality1" type="hidden" id="municipality1"/>
              </div>
              <h1>s obcí</h1>
              <div class="rel">
                <input name="search2" type="text" class="text autocomplete" id="search2"/>
                <input name="municipality2" type="hidden" id="municipality2"/>
              </div>
              <div class="compare-button">
                <input type="submit" class="sub" value="Porovnat obce">
              </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}
