{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Porovnání obcí {{municipality1.name ~ ' a ' ~ municipality2.name}}{% endblock %}

{% block breadcrumbs %}<a href="">Rozklikávací rozpočet obce</a> Porovnání obcí {{municipality1.name ~ ' a ' ~ municipality2.name}}{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 2} %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>google.load("visualization", "1", {packages:["corechart", "table"]})</script>
    <script src="{{ asset('bundles/publicbudgetfrontend/js/helper-functions.js') }}"></script>
    <script src="{{ asset('bundles/publicbudgetfrontend/js/google-graphs-municipality-compare.js') }}"></script>
    {% include 'PublicBudgetFrontendBundle:Municipality:_addthis-share-variables-script.html.twig' with {'twitterTemplate': "Porovnání obcí " ~  municipality1.name ~ ' a ' ~ municipality2.name ~ " URL " ~ "http://" ~ app.request.  host ~ smart_path() ~ " @rozpocetverejne", url: "http://" ~ app.request.host ~ smart_path(), title:"Porovnání obcí " ~  municipality1.name ~ ' a ' ~ municipality2.name} %}
{% endblock %}

{% block intro %}
<div class="head head-detail">
  <div class="main">

    <div class="clr rel">
      <div class="col2">
        <h1><span class="blue city1">{{ municipality1.name }}</span> <span class="grey separator">x</span> <span class="red city2">{{ municipality2.name }}</span> <span class="grey year">{{ activeYear }}</span></h1>
        <h2 class="podtitul">Porovnání obcí</h2>
      </div>
      <div class="col l">
        <div class="add">
            <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_pinterest_pinit"></a>
              <a class="addthis_counter addthis_pill_style"></a>
              </div>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5151986a6f0d5db2"></script>
            <!-- AddThis Button END -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="main">
  <div class="content content-detail">

    <form class="porovnaniForm clearfix" action="{{ path('PublicBudgetFrontendBundle_municipality_compare', {slug1:municipality1.slug, slug2: municipality2.slug}) }}" method="get">
      <div class="col1">
        {{ form_label(form.year) }}
        {{ form_widget(form.year) }}
      </div>
      <div class="col2">
        {{ form_label(form.per_inhabitant) }}
        {{ form_widget(form.per_inhabitant) }}
      </div>
      <div class="col2">
        {{ form_label(form.budget_item_expense) }}
        {{ form_widget(form.budget_item_expense) }}
      </div>
      <div class="col2">
        {{ form_label(form.budget_item_level) }}
        {{ form_widget(form.budget_item_level) }}
      </div>
      <div class="col2">
        {{ form_label(form.budget_item_parent) }}
        {{ form_widget(form.budget_item_parent) }}
      </div>
      <div class="col5">
        <input type="submit" class="sub" value="porovnat" />
      </div>
      {{ form_rest(form) }}
    </form>

    <div class="wrapper">

      {% set counter = 1 %}
      {% set display = perInhabitant ? 'obyvatel':'vse'  %}
      <script>
         var chartData1 = []
         var chartData2 = []
      </script>
      {% if result.result1 %}
        <h2><span class="blue">{{municipality1.name}}</span> <span class="grey">utrácí více než</span> <span class="red">  {{municipality2.name}}</span></h2>
        <table class="porovnaniTable">
          <script>
              var maxValue1 = {{result.maxValue1}}
              var color1 = '#0a5595'
          </script>
          <tr>
            <th>na oblast rozpočtu</th>
            <th>obce utratily</th>
            <th colspan=2>s rozdílem</th>
          </tr>
          <tr>
            <th colspan=2></th>
            <th style="text-align: center;">textově</th>
            <th style="text-align: center;">graficky</th>
          </tr>
          {% for budgetItem in result.result1 %}
          <tr>
            <td class="col1">
              {{ budgetItem.name }}
            </td>
            <td class="col2">
              <span class="blue">{{twig_number_format_for_display(budgetItem.municipality1Value, display)}}</span><br/>
              <span class="red">{{twig_number_format_for_display(budgetItem.municipality2Value, display)}}</span>
              {#<a href="" class="grafLink"><span>Vývoj</span></a>#}
            </td>
            <td class="col3">
              <span class="blue">{{twig_number_format_for_display(budgetItem.difference, display)}}</span><br/>
              <span class="blue">o {{ budgetItem.percent }} %</span>
            </td>
            <td class="col4">
              <div id="chart-div-{{counter}}" style="width:500px;height:75px"></div>
              <script>
                chartData1.push({{budgetItem|json_encode|raw}})
              </script>
            </td>
          </tr>
            {% set counter = counter + 1 %}
          {% endfor %}
        </table>
      {% endif %}

      {% if result.result2 %}
        <h2><span class="red">{{municipality2.name}}</span> <span class="grey">utrácí více než</span> <span class="blue">{{municipality1.name}}</span></h2>
        <table class="porovnaniTable">
          <script>
              var maxValue2 = {{result.maxValue2}}
              var color2 = '#980f3a'
          </script>
          <tr>
            <th>na oblast rozpočtu</th>
            <th>obce utratily</th>
            <th colspan=2>s rozdílem</th>
          </tr>
          <tr>
            <th colspan=2></th>
            <th style="text-align: center;">textově</th>
            <th style="text-align: center;">graficky</th>
          </tr>
          {% for budgetItem in result.result2 %}
          <tr>
            <td class="col1">
              {{ budgetItem.name }}
            </td>
            <td class="col2">
              {#<a href="" class="grafLink"><span>Vývoj</span></a>#}
              <span class="red">{{twig_number_format_for_display(budgetItem.municipality2Value, display)}}</span><br/>
              <span class="blue">{{twig_number_format_for_display(budgetItem.municipality1Value, display)}}</span>
            </td>
            <td class="col3">
              <span class="red">{{twig_number_format_for_display(budgetItem.difference, display)}}</span><br/>
              <span class="red">o {{ budgetItem.percent }} %</span>
            </td>
            <td class="col4">
              <div id="chart-div-{{counter}}" style="width:500px;height:75px"></div>
              <script>
                chartData2.push({{budgetItem|json_encode|raw}})
              </script>
            </td>
          </tr>
            {% set counter = counter + 1 %}
          {% endfor %}
        </table>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
