{% extends 'PublicBudgetFrontendBundle::administration-unit-detail-page-layout.html.twig' %}

{% block meta %}
   <meta property="og:title" content="Rozklikávací rozpočet obce {{budgetDataCollection.administrationUnit.name}}"/>
   <meta property="og:url" content="{{ url('PublicBudgetFrontendBundle_municipality_detail', {'slug':budgetDataCollection.administrationUnit.slug}) }}"/>
   <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
   <meta property="og:description" content="{{budgetDataCollection.shareMessages.facebook}}"/>
{% endblock %}

{% block title %}Rozklikávací rozpočet obce {{ budgetDataCollection.administrationUnit.name }}{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> <a href="/seznam-obci">Seznam obcí</a> {{ budgetDataCollection.administrationUnit.name }}{% endblock %}

{% block page_title %}Rozpočet obce v roce {{budgetDataCollection.activeYear}}{% endblock %}




{% block administration_unit_description_table %}
<div class="main">
  <h1>{{ budgetDataCollection.administrationUnit.name }}</h1>
  <div class="clr rel">
    <div class="col2">
      <table>
        <tr>
          <th>Počet obyvatel</th>
          <td>{{ twig_number_format(budgetDataCollection.populationActiveYear) }}</td>
        </tr>
        <tr>
          <th>Kraj</th>
          <td><a href="{{path('PublicBudgetFrontendBundle_kraj_detail', {'slug': twig_slugify(budgetDataCollection.administrationUnit.getKraj().name)})}}">{{ budgetDataCollection.administrationUnit.getKraj().name }}</a></td>
        </tr>
        <tr>
          <th>Okres</th>
          <td>{{ budgetDataCollection.administrationUnit.getOkres().name }}</td>
        </tr>
        {% if budgetDataCollection.administrationUnit.competence %}
          <tr>
            <th>Přenesená působnost</th>
            {% if budgetDataCollection.administrationUnit.competence == 'orp' %}
              <td>Obec s rozšířenou působností</td>
            {% elseif budgetDataCollection.administrationUnit.competence == 'pou' %}
              <td>Obec s pověřeným obecním úřadem</td>
            {% endif %}
          </tr>
        {% endif %}
        <tr>
          <th>Stav v letech 2000–2013</th>
          {% if budgetDataCollection.totalBalance > 0 %}
            <td class="prebytek"><span>+{{twig_number_format_for_display(budgetDataCollection.totalBalance, budgetDataCollection.display)}}</span><a id="income-expense-all-toggle" href="#">podrobnosti</a></td>
          {% else %}
            <td class="schodek"><span>{{twig_number_format_for_display(budgetDataCollection.totalBalance, budgetDataCollection.display)}}</span><a id="income-expense-all-toggle" href="#">podrobnosti</a></td>
          {% endif %}
        </tr>
      </table>
    </div>
    <div class="go l">
      <h3>Dejte vědět ostatním!</h3>
      {% include 'PublicBudgetFrontendBundle:Municipality:_share-buttons.html.twig' %}
    </div>
  </div>
  {% if budgetDataCollection.administrationUnit.email %}
    <div class="akce">
       <div class="btn clr">
         <a class="write-to-your-representatives" href="mailto:{{budgetDataCollection.administrationUnit.email}}?subject=Dotaz%20k%20rozpočtu%20obce&body={{url('PublicBudgetFrontendBundle_municipality_detail', {'rok':budgetDataCollection.activeYear,'slug':budgetDataCollection.administrationUnit.slug}) }}">Napište zastupitelům obce</a>
       </div>
       <a href="{{smart_path()}}#co-jeste-muzete-udelat">Co ještě můžete udělat?</a>
    </div>
  {% endif %}



</div>
{% endblock %}

{% block bottom_menu %}
  {% include 'PublicBudgetFrontendBundle:Municipality:_bottom_menu.html.twig' %}
{% endblock %}
