{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Žebříčky{% endblock %}

{% block breadcrumbs %}<a href="">Rozklikávací rozpočet obce</a> Žebříčky{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 3} %}{% endblock %}

{% block meta %}
   <meta property="og:title" content="Žebříčky"/>
   <meta property="og:url" content="http://{{ app.request.host ~ smart_path() }}"/>
   <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
   <meta property="og:description" content="{{ title }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>google.load("visualization", "1", {packages:["corechart", "table"]})</script>
    <script>
      var quantiles = {{result.quantiles|json_encode|raw}}
      var municipalitiesNotIncludedCount = {{result.municipalitiesNotIncludedCount|json_encode|raw}}
      var municipalitiesIncludedCount = {{result.rowCount|json_encode|raw}}
    </script>
    <script src="{{ asset('bundles/publicbudgetfrontend/js/google-graphs-municipality-filter-summary.js') }}"></script>
    <script src="{{ asset('bundles/publicbudgetfrontend/js/municipality-filter.js') }}"></script>
    {% include 'PublicBudgetFrontendBundle:Municipality:_addthis-share-variables-script.html.twig' with {'twitterTemplate': title  ~ " URL " ~ "http://" ~ app.request.host ~ smart_path() ~ " @rozpocetverejne", url: "http://" ~ app.request.host ~ smart_path(), title:title} %}
    <script src="{{ asset('bundles/publicbudgetfrontend/js/helper-functions.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <div class="clr">
          <h1>Žebříčky obcí ČR</h1>
        </div>

        {% include 'PublicBudgetFrontendBundle:Municipality:_filter_form.html.twig' with {'form':form} %}

        <div class="list2">
          <ul>
            <li><a href="{{smart_path({}, 'PublicBudgetFrontendBundle_municipality_filter')}}">Žebříček</a></li>
            <li class="active"><a href="{{smart_path({}, 'PublicBudgetFrontendBundle_municipality_filter_summary')}}">Souhrné údaje</a></li>
            <li><a href="{{smart_path({}, 'PublicBudgetFrontendBundle_municipality_filter_trend')}}">Trend</a></li>
          </ul>
        </div>

        {% include 'PublicBudgetFrontendBundle:Municipality:_filter_social_buttons.html.twig' with {'title':title} %}
        
        <div class="wrapper">
          <h3>Souhrné údaje</h3>
          {% set display = form.vars.value.perInhabitant ? "obyvatel":"celkem" %}
          <table>
            <tbody>
              <tr>
                <th>Celkem</th>
                <td>{{ twig_number_format_for_display(result.sum, display) }}</td>
              </tr>
              <tr>
                <th>Medián</th>
                <td>{{ twig_number_format_for_display(result.median, display) }}</td>
              </tr>
              <tr>
                <th>Průměr</th>
                <td>{{ twig_number_format_for_display(result.avg, display) }}</td>
              </tr>
              <tr>
                <th>Minimum</th>
                <td>{{ twig_number_format_for_display(result.min, display) }}</td>
              </tr>
              <tr>
                <th>Maximum</th>
                <td>{{ twig_number_format_for_display(result.max, display) }}</td>
              </tr>
            </tbody>
          </table>

          <div class="graph-wrap">
          <div class="clr graph-wrap2">
          <div class="left half">
            <div class="gback">
            <h3>Rozložení celkové částky za tuto položku mezi obcemi</h3>
            </div>
            <div class="graph-detail">
            <div id="chart-div-left"></div>
            </div>
            <div class="graph-data">
              <table style="font-size: 13px;">
                <thead>
                  <tr>
                    <th>Pásmo obcí</th>
                    <th>Rozmezí</th>
                    <th>Podíl na celkové částce</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, quantile in result.quantiles.rows %}
                    <tr>
                      <td>{{ key + 1}}</td>
                      <td>{{ twig_number_format_for_display(quantile.min, display) }} - {{   twig_number_format_for_display(quantile.max, display) }}</td>
                      <td>{{ twig_percent_format(quantile.percent) }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            <p><em>Částky na konci datového setu jsou oříznuty z důvodu rovnoměrného rozložení</em></p>
            </div>
          </div>
          <div class="right half">
            <div class="gback">
              <h3>Podíl obcí s/bez částky na tuto položku</h3>
            </div>
            <div class="graph-detail">
              <div id="chart-div-right"></div>
            </div>
            <div class="graph-data">
            <ul>
              <li>Obce s částkou <span style="border-bottom: 1px solid blue">{{ twig_number_format(result.rowCount) }}</span></li>
              <li>Obce bez částky <span style="border-bottom: 1px solid red">{{ twig_number_format(result.municipalitiesNotIncludedCount) }}</span></li>
            </ul>
            </div>
          </div>
          </div>
          </div>
        </div>

      </div>
    </div>
{% endblock %}