{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Žebříčky{% endblock %}

{% block breadcrumbs %}<a href="">Rozklikávací rozpočet obce</a> Žebříčky{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 3} %}{% endblock %}

{% block meta %}
   <meta property="og:title" content="Žebříčky"/>
   <meta property="og:url" content="http://{{ app.request.host ~ smart_path() }}"/>
   <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
   <meta property="og:description" content="{{ title }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false?language=cs">
    <script src="{{ asset('bundles/publicbudgetfrontend/js/google-maps-municipality-filter-map.js') }}"></script>
    <script src="{{ asset('bundles/publicbudgetfrontend/js/municipality-filter.js') }}"></script>
    {% include 'PublicBudgetFrontendBundle:Municipality:_addthis-share-variables-script.html.twig' with {'twitterTemplate': title  ~ " URL " ~ "http://" ~ app.request.host ~ smart_path() ~ " @rozpocetverejne", url: "http://" ~ app.request.host ~ smart_path(), title:title} %}
    <script src="{{ asset('bundles/publicbudgetfrontend/js/helper-functions.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <div class="clr">
          <h1>Žebříčky obcí ČR</h1>
        </div>

        {% include 'PublicBudgetFrontendBundle:Municipality:_filter_form.html.twig' with {'form':form} %}

        <div class="list2">
          <ul>
            <li><a href="{{smart_path({}, 'PublicBudgetFrontendBundle_municipality_filter')}}">Žebříček</a></li>
            <li><a href="{{smart_path({}, 'PublicBudgetFrontendBundle_municipality_filter_summary')}}">Souhrné údaje</a></li>
            <li class="active"><a href="{{smart_path({}, 'PublicBudgetFrontendBundle_municipality_filter_map')}}">Mapa</a></li>
          </ul>
        </div>

        {% include 'PublicBudgetFrontendBundle:Municipality:_filter_social_buttons.html.twig' with {'title':title} %}

        <div class="wrapper">
          <div id="map" style="width: 940px; height: 500px"></div>
        </div>

      </div>
    </div>
{% endblock %}