{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Žebříčky{% endblock %}

{% block breadcrumbs %}<a href="">Rozklikávací rozpočet obce</a> Žebříčky{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 3} %}{% endblock %}

{% block meta %}
   <meta property="og:title" content="Žebříčky"/>
   <meta property="og:url" content="http://{{ app.request.host ~ smart_path() }}"/>
   <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
   <meta property="og:description" content="{{ title }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/publicbudgetfrontend/js/municipality-filter.js') }}"></script>
    {% include 'PublicBudgetFrontendBundle:Municipality:_addthis-share-variables-script.html.twig' with {'twitterTemplate': title  ~ " URL " ~ "http://" ~ app.request.host ~ smart_path() ~ " @rozpocetverejne", url: "http://" ~ app.request.host ~ smart_path(), title:title} %}
    <script src="{{ asset('bundles/publicbudgetfrontend/js/helper-functions.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <div class="clr">
          <h1>Žebříčky obcí ČR</h1>
        </div>

        {% include 'PublicBudgetFrontendBundle:Municipality:_filter_form.html.twig' with {'form':form} %}

        {% include 'PublicBudgetFrontendBundle:Municipality:_filter_social_buttons.html.twig' with {'title':title} %}

        <div class="wrapper">
          <table class="filtrovaneObce">
            {% for municipality in result.rows %}
              <tr>
                <td><a href="{{ path(result.municipalityRouteData.route, result.municipalityRouteData.params|merge({ 'slug': municipality.slug})) }}">{{ municipality.name }}</a></td>
                <td class="kraj">{{ municipality.okres_name }} ({{ municipality.kraj_name }})</td>
              </tr>
            {% endfor %}
          </table>
          {% if result.pageCount > 1 %}
            <div class="pager">
              {% for i in range(1, result.pageCount) %}
                  <a{% if i == page %} class="active"{% endif %} href="{{smart_path({'strana': i})}}">{{i}}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>

      </div>
    </div>
{% endblock %}