{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Seznam obcí{% endblock %}

{% block breadcrumbs %}<a href="">Rozklikávací rozpočet obce</a> Seznam obcí{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 1} %}{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <div class="clr">
          <h1>Obce ČR</h1>
        </div>

        <div class="list abc">
          <ul>
            <li{% if activeLetter == 'A' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'A'}) }}">A</a></li>
            <li{% if activeLetter == 'B' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'B'}) }}">B</a></li>
            <li{% if activeLetter == 'C' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'C'}) }}">C</a></li>
            <li{% if activeLetter == 'Č' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'Č'}) }}">Č</a></li>
            <li{% if activeLetter == 'D' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'D'}) }}">D</a></li>
            <li{% if activeLetter == 'E' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'E'}) }}">E</a></li>
            <li{% if activeLetter == 'F' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'F'}) }}">F</a></li>
            <li{% if activeLetter == 'G' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'G'}) }}">G</a></li>
            <li{% if activeLetter == 'H' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'H'}) }}">H</a></li>
            <li{% if activeLetter == 'Ch' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'Ch'}) }}">Ch</a></li>
            <li{% if activeLetter == 'I' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'I'}) }}">I</a></li>
            <li{% if activeLetter == 'J' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'J'}) }}">J</a></li>
            <li{% if activeLetter == 'K' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'K'}) }}">K</a></li>
            <li{% if activeLetter == 'L' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'L'}) }}">L</a></li>
            <li{% if activeLetter == 'M' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'M'}) }}">M</a></li>
            <li{% if activeLetter == 'N' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'N'}) }}">N</a></li>
            <li{% if activeLetter == 'O' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'O'}) }}">O</a></li>
            <li{% if activeLetter == 'P' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'P'}) }}">P</a></li>
            <li{% if activeLetter == 'R' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'R'}) }}">R</a></li>
            <li{% if activeLetter == 'Ř' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'Ř'}) }}">Ř</a></li>
            <li{% if activeLetter == 'S' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'S'}) }}">S</a></li>
            <li{% if activeLetter == 'Š' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'Š'}) }}">Š</a></li>
            <li{% if activeLetter == 'T' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'T'}) }}">T</a></li>
            <li{% if activeLetter == 'U' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'U'}) }}">U</a></li>
            <li{% if activeLetter == 'V' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'V'}) }}">V</a></li>
            <li{% if activeLetter == 'X' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'X'}) }}">X</a></li>
            <li{% if activeLetter == 'Z' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'Z'}) }}">Z</a></li>
            <li{% if activeLetter == 'Ž' %} class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list', {'pismeno':'Ž'}) }}">Ž</a></li>
          </ul>
        </div>

        <div class="wrapper">
          <table class="obce">
            {% for municipality in municipalities %}
              <tr>
                <td><a href="{{ path('PublicBudgetFrontendBundle_municipality_timeline', {'slug':municipality.slug}) }}">{{ municipality.name }}</a></td>
                <td>{{ municipality.getOkres().name }} ({{ municipality.getKraj().name }})</td>
                <td class=""></td>
              </tr>
            {% endfor %}
          </table>
        </div>

      </div>
    </div>
{% endblock %}