{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Detail položky rozpočtu{% endblock %}

{% block breadcrumbs %}<a href="">Rozklikávací rozpočet obce</a> <a href="/seznam-obci">Seznam obcí</a> Detail položky rozpočtu{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 1} %}{% endblock %}

{% block meta %}
   <meta property="og:title" content="Detail položky rozpočtu"/>
   <meta property="og:url" content="http://{{ app.request.host ~ smart_path() }}"/>
   <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
   <meta property="og:description" content="Detail položky rozpočtu"/>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block intro %}
<div class="head head-detail">
  <div class="main">

    <div class="clr rel">
      <div class="col2">
        <h1>Praha</h1>
        <a href="">« celý rozpočet</a>
        <a href="">« nadřazená sekce rozpočtu</a>
      </div>
      <div class="col l">
        <div class="add">
            <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_pinterest_pinit"></a>
              <a class="addthis_counter addthis_pill_style"></a>
              </div>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5151986a6f0d5db2"></script>
            <!-- AddThis Button END -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}


<div class="main">
  <div class="content content-detail">
    <div class="list year">
      <ul>
        <li class="active"><a href="">2011</a></li>
        <li><a href="">2010</a></li>
        <li><a href="">2009</a></li>
        <li><a href="">2008</a></li>
        <li><a href="">2007</a></li>
        <li><a href="">2006</a></li>
        <li><a href="">2005</a></li>
        <li><a href="">2004</a></li>
        <li><a href="">2003</a></li>
        <li><a href="">2002</a></li>
        <li><a href="">2001</a></li>
        <li><a href="">2000</a></li>
      </ul>
    </div>

    <div class="wrapper">

      <div class="detailCislaHeader">
        <h2><span class="paragraf">§ 372 –</span> Nakládání s odpady</h2>

        <table>
          <tr>
            <th>Celkem za rok 2010</th>
            <td>155 tis Kč</td>
          </tr>
          <tr>
            <th>Na obyvatele</th>
            <td>0,556 tis Kč</td>
          </tr>
        </table>
      </div>

      <div class="detailCislaSekce">
        <h3>Důležitost</h3>
        <div class="graf">
          <img src="http://placehold.it/940x198" alt="graf" title="graf" />
        </div>
        <table class="dulezitost">
          <thead>
            <tr>
              <th>Oblast</th>
              <th>Částka v ročním rozpočtu</th>
              <th>Část ročního rozpočtu</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>§ 617 – Regionální a místní správa</th>
              <td>2000</td>
              <td>30%</td>
            </tr>
            <tr>
              <td>§ 221 – Pozemní komunikace</td>
              <td>1800</td>
              <td>28%</td>
            </tr>
            <tr>
              <th>§ 232 – Odvádění a čistění odpad</th>
              <td>1500</td>
              <td>20 %</td>
            </tr>
            <tr>
              <th>§ 372 – Nakládání s odpady</th>
              <td>155</td>
              <td>2,5 %</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="detailCislaSekce">
        <h3>Vývoj</h3>
        <div class="graf">
          <img src="http://placehold.it/940x198" alt="graf" title="graf" />
        </div>
        <table class="vyvoj">
          <thead>
            <tr>
              <th>Rok</th>
              <th>2001</th>
              <th>2002</th>
              <th>2003</th>
              <th>2004</th>
              <th>2005</th>
              <th>2006</th>
              <th>2007</th>
              <th>2008</th>
              <th>2009</th>
              <th>2010</th>
              <th>2011</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Provoz</th>
              <td>100</td>
              <td>110</td>
              <td>160</td>
              <td>180</td>
              <td>100</td>
              <td>110</td>
              <td>160</td>
              <td>2008</td>
              <td>180</td>
              <td>100</td>
              <td>160</td>
            </tr>
            <tr>
              <th>Investice</th>
              <td>100</td>
              <td>110</td>
              <td>160</td>
              <td>180</td>
              <td>100</td>
              <td>110</td>
              <td>160</td>
              <td>2008</td>
              <td>180</td>
              <td>100</td>
              <td>160</td>
            </tr>
            <tr>
              <th>Celkem</th>
              <td>100</td>
              <td>110</td>
              <td>160</td>
              <td>180</td>
              <td>100</td>
              <td>110</td>
              <td>160</td>
              <td>2008</td>
              <td>180</td>
              <td>100</td>
              <td>160</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="detailCislaSekce">
        <h3>Porovnání s obcemi 1000-5000 obyvatel</h3>
        <div class="graf">
          <img src="http://placehold.it/940x198" alt="graf" title="graf" />
        </div>
        <table class="rozsah">
          <thead>
            <tr>
              <th>Rozsah</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Středočeský Kraj, 2010</th>
              <td>0,4-0,8</td>
            </tr>
            <tr>
              <th>Celá ČR, 2010</th>
              <td>0,6-1,5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
