{% extends 'PublicBudgetFrontendBundle::administration-unit-section-detail-page-layout.html.twig' %}

{% block meta %}
   <meta property="og:title" content="Rozklikávací rozpočet obce {{budgetDataCollection.administrationUnit.name}}"/>
   <meta property="og:url" content="{{ url('PublicBudgetFrontendBundle_municipality_detail', {'slug':budgetDataCollection.administrationUnit.slug}) }}"/>
   <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
   <meta property="og:description" content="{{budgetDataCollection.shareMessages.facebook}}"/>
{% endblock %}

{% block title %}Rozklikávací rozpočet obce {{ budgetDataCollection.administrationUnit.name }} - {{budgetDataCollection.typeName}} - {{budgetDataCollection.sectionName|lower}} v roce {{budgetDataCollection.activeYear}}{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> <a href="/seznam-obci">Seznam obcí</a> <a href="{{path('PublicBudgetFrontendBundle_municipality_detail',{'slug':budgetDataCollection.administrationUnit.slug,'rok':budgetDataCollection.activeYear})}}">{{ budgetDataCollection.administrationUnit.name }}</a> {{budgetDataCollection.typeName}} - {{budgetDataCollection.sectionName|lower}} v roce {{budgetDataCollection.activeYear}}{% endblock %}

{% block links %}
{% if budgetDataCollection.municipalityFilterUrl is defined %}
<div class="btn clr">
  <a href="{{budgetDataCollection.municipalityFilterUrl}}">Srovnat s podobnými obcemi</a>
</div>
{% endif %}
{% endblock %}


{% block bottom_menu %}
  {% include 'PublicBudgetFrontendBundle:Municipality:_bottom_menu.html.twig' %}
{% endblock %}