{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Timeline obce {{municipality.name}}{% endblock %}

{% block breadcrumbs %}<a href="">Rozklikávací rozpočet obce</a> <a href="/seznam-obci">Seznam obcí</a> Timeline obce {{municipality.name}}{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 1} %}{% endblock %}

{% block meta %}
   <meta property="og:title" content="Timeline obce {{municipality.name}}"/>
   <meta property="og:url" content="http://{{ app.request.host ~ smart_path() }}"/>
   <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
   <meta property="og:description" content="Timeline obce {{municipality.name}}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      var timeline_config = {
          width:              '940',
          height:             '500',
          source:             '{{smart_path({'timeline_obce[percent_significance]':form.vars.value.percentSignificance}, 'PublicBudgetFrontendBundle_municipality_timeline_data')}}',
          embed_id:           'timeline-embed',
          font:               'DroidSerif-DroidSans',
          lang:               'cz',
      }
    </script>
    {% include 'PublicBudgetFrontendBundle::_google-graph-detail-page-scripts.html.twig' with {incomeExpenseGroupedByYear: budgetDataCollection.incomeExpenseGroupedByYear, incomeSummary: budgetDataCollection.incomeSummary.getChildrenAsArray(), expenseSummary: budgetDataCollection.expenseSummary.getChildrenAsArray()} %}
{% endblock %}

{% block content %}
    <div class="head">
        <div class="main">
            <h1>{{ budgetDataCollection.administrationUnit.name }}</h1>
            <div class="clr rel">
                <div class="col2">
                    <table>
                        <tr>
                            <th>Počet obyvatel</th>
                            <td>{{ twig_number_format(budgetDataCollection.populationActiveYear) }}</td>
                        </tr>
                        <tr>
                            <th>Kraj</th>
                            <td><a href="{{path('PublicBudgetFrontendBundle_kraj_detail', {'slug': twig_slugify(budgetDataCollection.administrationUnit.getKraj().name)})}}">{{ budgetDataCollection.administrationUnit.getKraj().name }}</a></td>
                        </tr>
                        <tr>
                            <th>Okres</th>
                            <td>{{ budgetDataCollection.administrationUnit.getOkres().name }}</td>
                        </tr>
                        {% if budgetDataCollection.administrationUnit.competence %}
                            <tr>
                                <th>Přenesená působnost</th>
                                {% if budgetDataCollection.administrationUnit.competence == 'orp' %}
                                    <td>Obec s rozšířenou působností</td>
                                {% elseif budgetDataCollection.administrationUnit.competence == 'pou' %}
                                    <td>Obec s pověřeným obecním úřadem</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Stav v letech 2000–2013</th>
                            {% if budgetDataCollection.totalBalance > 0 %}
                                <td class="prebytek"><span>+{{twig_number_format_for_display(budgetDataCollection.totalBalance, budgetDataCollection.display)}}</span><a id="income-expense-all-toggle" href="#">podrobnosti</a></td>
                            {% else %}
                                <td class="schodek"><span>{{twig_number_format_for_display(budgetDataCollection.totalBalance, budgetDataCollection.display)}}</span><a id="income-expense-all-toggle" href="#">podrobnosti</a></td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
                <div class="go l">
                    <h3>Dejte vědět ostatním!</h3>
                    {% include 'PublicBudgetFrontendBundle:Municipality:_share-buttons.html.twig' %}
                </div>
            </div>
            {% if budgetDataCollection.administrationUnit.email %}
                <div class="akce">
                    <div class="btn clr">
                        <a class="write-to-your-representatives" href="mailto:{{budgetDataCollection.administrationUnit.email}}?subject=Dotaz%20k%20rozpočtu%20obce&body={{url('PublicBudgetFrontendBundle_municipality_detail', {'rok':budgetDataCollection.activeYear,'slug':budgetDataCollection.administrationUnit.slug}) }}">Napište zastupitelům obce</a>
                    </div>
                    <a href="{{smart_path()}}#co-jeste-muzete-udelat">Co ještě můžete udělat?</a>
                </div>
            {% endif %}
        </div>
        <div id="income-expense-all" style="display: none;"></div>
    </div>

    <div class="main">
      <div class="content content-detail">
        {% include 'PublicBudgetFrontendBundle::_year_menu.html.twig' with {'activeYear': budgetDataCollection.activeYear, 'route': budgetDataCollection.administrationUnitDetailRoute} %}

        <div class="wrapper">

          <div style="display:none">
            <div id="google-graph-container">
              <div class="graph rel">
              </div>
              <div style='height:520px;width:960px' id="google-graph"></div>
            </div>
          </div>

          {% include 'PublicBudgetFrontendBundle:Municipality:_timeline_form.html.twig' with {'form':form, 'municipality': municipality} %}

          <div class="wrapper">
              <div id="timeline-embed"></div>
              <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
          </div>

        </div>

      </div>

    </div>

    <div class="head ptop" id="diskuse">
      <div class="main">
        <div class="clr">
          {% include 'PublicBudgetFrontendBundle::_comments.html.twig' %}
            {% include 'PublicBudgetFrontendBundle:Municipality:_bottom_menu.html.twig' %}
        </div>

        <div class="fb-main">
          <div class="fb-like-box" data-href="http://www.facebook.com/pages/Rozpo%C4%8Det-ve%C5%99ejn%C4%9B/146313132095186" data-width="940" data-height="184" data-show-faces="true" data-stream="false" data-header="false"></div>
        </div>

      </div>

    </div>
{% endblock %}