{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - O nás{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> O nás{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 5} %}{% endblock %}

{% block intro %}
<div class="head">
  <div class="main">
    <h1>O nás</h1>
    <h3>Mise</h3>
    <ul>
      <li>Umožníme vám lépe se orientovat v rozpočtech obcí a díky tomu</li>
      <li>průběžně sledovat a ovlivňovat související rozhodnutí svých zástupců,</li>
      <li>což přispěje ke snížení korupce, vyšší efektivitě veřejné správy, zvýšení konkurenceschopnosti země a zvýšení spokojenosti občanů.</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <div class="clr">
          <div class="about-text">
            <h3>Cíle</h3>
            <ul>
              <li>Vybudujeme webovou službu s centrální <strong>prezentací rozpočtů obcí</strong> ve formě srozumitelné a atraktivní pro velkou část veřejnosti,</li>
              <li>spojenou s <strong>bází znalostí</strong> potřebných pro správnou interpretaci rozpočtů a </li>
              <li><strong>prostorem pro komunikaci</strong> členů komunity a zároveň</li>
              <li><strong>aktivní komunitu</strong> občanů, osvícených radních a zastupitelů, ekonomů se zaměřením na veřejné finance, novinářů, právníků, vysokých škol, dobrovolníků, dodavatelů v oblasti marketingu, IT, souvisejících občanských aktivit v ČR i zahraničí a dalších, která bude informace aktualizovat, rozšiřovat a využívat, více koncept <a href="http://romanripa.typepad.com/blog/2011/03/tema-jak-se-ucit-nejen-z-firemnich-dat-efektivne.html">zde</a>.</li>
            </ul>

            <a name="jak-pomoci"></a><h3>Jak nám můžete pomoci</h3>
              <ol>
                <li><b>Sledujte nás</b> - viz <a href="/kontakty">kontakty</a>.</li>

                <li><b>Dejte o nás vědět přátelům a známým</b> - viz <a href="/kontakty">kontakty</a>.</li>

                <li><b>Připojte se k nám</b>
                  <ul>
                    <li><b>Ekonomové</b> - Využijte své zkušenosti a budujte s námi srozumitelnou kuchařku "Jak číst veřejné rozpočty", navrhujte a analyzujte zajímavé ukazatele.</li>
                    <li><b>Novináři</b> - Získejte zajímavý zdroj pozitivních i negativních příběhů.</li>
                    <li><b>Zastupitelé</b> a aktivisté - Ověřte či poskytněte a okomentujte rozpočty a závěrečné účty svých obcí pro své voliče.</li>

                    <li><b>Učitelé a studenti ekonomického a IT zaměření</b> - Poskytneme Vám témata a prostor pro smysluplné seminární či jiné práce.</li>
                    <li><b>Informatici</b> - Zajímá Vás oblast analýzy dat (BI)? Pojďte si vyzkoušet nové věci bez omezení komerčních projektů.</li>
                    <li><b>Kdokoliv</b> - Hledejte s námi cestu, jak se stát aktivními občany a přestat být pasivními "ovcemi".</li>
                    <li>V blogu najdete <a href="http://blog.rozpocetverejne.cz/">s čím potřebujeme pomoci</a>. Potřebujete-li vědět více, <a href="/kontakty">napište nám</a>.</li>

                  </ul>
                </li>

                <li><b>Financujte nás</b>
                  <ul>
                    <li><b>Firmy</b> - Pomůžeme Vám smysluplně naplnit Vaše cíle společenské odpovědnosti firem (CSR). Uvítáme využití know-how Vašich zaměstnanců, bartr, případně finance.</li>
                    <li><b>Podnikatelé</b> - Chcete žít v ČR? Investujte do dlouhodobé kultivace společenského prostředí. Rádi Vám poskytneme podklady pro daňové asignace.</li>

                    <li><b>Kdokoliv</b> - Halíře dělají talíře. Pošlete nám částku ve výši jednoho Vašeho oběda.</li>
                    <li><a href="http://www.rb.cz/firemni-finance/transparentni-ucty/?tr_acc=vypis&account_number=6449849001">Přispějte</a>. Potřebujete-li vědět více, <a href="/kontakty">napiště nám</a>.</li>
                  </ul>
                </li>
              </ol>
            </div>
            <div class="about-team">
              <h3>Těšíme se na vás</h3>
              <ul>
                  <li><a href="http://blog.rozpocetverejne.cz">Blog</a></li>
                  <li><a href="http://www.twitter.com/rozpocetverejne">Twitter</a></li>
                  <li><a href="http://www.facebook.com/pages/Rozpocet-verejne/146313132095186">Facebook</a></li>
                  <li><a href="http://www.linkedin.com/company/2268777">LinkedIn</a></li>
                  <li><a href="http://www.pinterest.com/rozpocetverejne/">Pinterest</a></li>
                  <li><a href="mailto:info@rozpocetverejne.cz">info@rozpocetverejne.cz</a></li>
              </ul>

              <h3>Náš tým</h3>
              <p>
                <strong>Roman Řípa</strong><br />
                <em>Project Leader</em><br />
                Role: Zakladatel a leader projektu, stará se o směr, tým, marketing a dárce.<br />
                Mobil: +420 605 202 397<br />
                <a href="http://www.linkedin.com/in/romanripa">LinkedIN</a>, <a href="https://twitter.com/#!/romanripa">@romanripa</a>, <a href="http://romanripa.typepad.com">Blog</a>
              </p>
              <p>
                <strong>Jan Řezáč</strong><br />
                <em>Web Analyst and Designer</em><br />
                Role: Zodpovědný za návrh a design webové aplikace.<br />
                <a href="http://cz.linkedin.com/in/filosof">LinkedIN</a>, <a href="https://twitter.com/#!/janrezac">@janrezac</a>, <a href="http://blog.filosof.biz">Blog</a>
              </p>
              <p>
                <strong>Martin Mayer</strong><br />
                <em>Development</em><br />
                Role: Zodpovědný za technickou realizaci webu a integraci dat.<br />
                <a href="http://cz.linkedin.com/in/mayermartin">LinkedIN</a>, <a href="https://twitter.com/#!/mayermartin">@mayermartin</a>
              </p>
              <p>
                <strong>Kamil Řezáč</strong><br />
                <em>Programming</em><br />
                Role: Ten, který to opravdu udělal.<br />
                <a href="http://cz.linkedin.com/in/kamilrezac">LinkedIN</a>
              </p>

              <h3>Hospodaření</h3>
              <a href="https://drive.google.com/file/d/0B6Zx1pidSL_HcjdzeG5US3B6dTg/edit?usp=sharing">Výroční zpráva 2013</a><br />
              <a href="https://drive.google.com/file/d/0B6Zx1pidSL_HOWhLU0Y4ZU1vUEU/edit?usp=sharing">Účetní závěrka 2013</a><br />
              <a href="https://docs.google.com/file/d/0B6Zx1pidSL_HV293UUtFU1M5OFU/edit">Výroční zpráva 2012</a><br />
              <a href="https://docs.google.com/file/d/0B6Zx1pidSL_HdExBWDVJT2REQ3M/edit">Účetní závěrka 2012</a><br />
              <a href="https://docs.google.com/file/d/0B6Zx1pidSL_HU091OW45QkNXX0E/edit">Výroční zpráva 2011</a><br />
              <a href="https://docs.google.com/file/d/0B6Zx1pidSL_HS0N3RTAxTk90Q0E/edit">Účetní závěrka 2011</a>

              <br />
              <br />

              <h3>Naše identifikační údaje</h3>
          <p>
            Rozpočet Veřejně o.s.<br/>
            Revoluční 208<br/>
            273 01 Kamenné Žehrovice<br/>
            Česká republika<br/>
            IČ: 22887695<br/>
            DIČ CZ22887695<br/>
            Bankovní spojení: č.ú: <a href="http://www.rb.cz/firemni-finance/transparentni-ucty/?tr_acc=vypis&account_number=6449849001">6449849001/5500</a> ,<br/>
            IBAN: CZ1955000000006449849001 ,<br/>
            Raiffeisen BANK<br/>
            DUNS: 367058267<br/>
            <a href="http://www.isnno.cz/EvidenceNNOV10001/DesignPages/SeznamNNO.aspx">Registrace na MV ČR</a><br/>
          </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}