{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Zdroje dat{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> Zdroje dat{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 0} %}{% endblock %}

{% block content %}
  <div class="main">
      <div class="content">
          <h1>Data</h1>

          <h2>Zdroje dat</h2>

          <p>Analýzy rozpočtů obcí na www.rozpocetobce.cz vznikly na základě oficiálních dat zveřejňovaných Ministerstvem financí ČR. Data jsou přístupná v systémech <a href="http://www.mfcr.cz/cs/o-ministerstvu/zakladni-informace/informacni-systemy/arisweb">ARIS</a> a <a href="http://www.mfcr.cz/cs/o-ministerstvu/zakladni-informace/informacni-systemy/ufis">ÚFIS</a>.</p>

          <p>Z těchto systémů využíváme informace ze sestavy "Výkaz pro hodnocení plnění rozpočtu ÚSC, regionálních rad a DSO" obsahující údaje o:</p>
          <ul>
            <li>schváleném rozpočtu - to je rozpočet obyčejně zpřístupněný na webu obce,</li>
            <li>rozpočtu o změnách - to je rozpočet po úpravách v průběhu roku a</li>
            <li>výsledek od počátku roku - údaje o skutečném plněí rozpočtu k 31.12 daného roku, tyto údaje zveřejňujeme na www.rozpocetobce.cz.</li>
          </ul>

          <p>Druhou využívanou sestavou je "Soustava informativních a monitorujících ukazatelů hospodaření obce", která obsahuje údaje o majetku, zadluženosti a likviditě obce k 31.12. daného roku.</p>

          <p>Více viz také <a href="{{ path('PublicBudgetFrontendBundle_legal_information') }}">Právní informace</a>.</p>

          <h2>Data ke stažení</h2>

          <p><strong>Obce ČR</strong> - Obsahuje základní údaje o obcích ČR složené z více zdrojů ČSÚ, MV ČR, MPSV ČR a dalších. <br/>
            Formáty:
            <a href="{{ asset('bundles/publicbudgetfrontend/files/Seznam-obci-CR.xlsx') }}">XSLX</a>,
            <a href="{{ asset('bundles/publicbudgetfrontend/files/Seznam-obci-CR-CS.csv') }}">CSV CZ</a>,
            <a href="{{ asset('bundles/publicbudgetfrontend/files/Seznam-obci-CR-EN.csv') }}">CSV EN</a>,
            <a href="https://www.google.com/fusiontables/DataSource?docid=1G8sXI7HwWlcYcHXe2X8Wy5CVJcN9-KUCzg4fNN4">GFT</a>
            </p>

            <p><strong>Sumář rozpočtu obcí ČR 2000-2012</strong> - Obsahuje Příjmy, Výdaje, Schodek/Přebytek, Přesuny a základní členění příjmů a výdajů pro všechny obce ČR za roky 2000-2012 spolu s údajem o počtu obyvatel v daném roce.<br/>
            Formáty:
            <a href="/data/rozpocet-obce-sumare.zip">CSV</a>,
            <a href="https://www.google.com/fusiontables/DataSource?docid=1qmB4p66SoRZIi3V9Do5X2OpaJEqs0RN81jNnr-4">GFT</a>
            </p>

          <p><strong>Podrobné rozpočty obcí ČR 2000-2012</strong> - <a href="http://www.rozpocetobce.cz/jak-cist-rozpocet-obce#presuny">nekonsolidované</a> rozpočty obcí v detailním členění rozpočtů dle <a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#C.Odvetvove">odvětvového</a> a <a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#B.Druhove">druhového</a> členění dle opatření MFČR. Každá položka rozpočtu navíc obsahuje údaj o počtu obyvatel obce v daném roce dle ČSÚ pro přepočty údajů na jednoho obyvatele. Struktura každé položky rozpočtu vypadá následovně:</p>
          <ul>
            <li>Obecné informace o obci:
              <ul>
                <li>Název</li>
                <li>ČSÚ kód</li>
                <li>IČO organizace</li>
                <li>Název okresu</li>
                <li>Název kraje</li>
              </ul>
            </li>
            <li>Druhové třídění rozpočtové skladby:
              <ul>
                <li>Třída kód</li>
                <li>Třída název</li>
                <li>Seskupení položek kód</li>
                <li>Seskupení položek název</li>
                <li>Pod seskupení položek kód</li>
                <li>Pod seskupení položek název</li>
                <li>Položka kód</li>
                <li>Položka název</li>
              </ul>
            </li>
            <li>Odvětvové třídění rozpočtové skladby:
              <ul>
                <li>Skupina kód</li>
                <li>Skupina název</li>
                <li>Oddíl kód</li>
                <li>Oddíl název</li>
                <li>Pododdíl kód</li>
                <li>Pododdíl název</li>
                <li>Paragraf kód</li>
                <li>Paragraf název</li>
              </ul>
            </li>
            <li>Konkrétní informace pro položku rozpočtu:
              <ul>
                <li>Rok</li>
                <li>Počet obyvatel</li>
                <li>Hodnota</li>
              </ul>
            </li>
          </ul>
          </br>
          <p>Formáty: <a href="/data/rozpocet-obce-vsechna-data.zip">CSV</a>, <a href="https://www.google.com/fusiontables/DataSource?docid=1XGgQLhovXHQKTAxF5aWfmVDHpEAECtayIHOEhKY">GFT</a>, <a href="https://www.google.com/fusiontables/DataSource?docid=1UpSj5MMB0utas3RAKPltH5RoSHkzDZ4yaTOzquU">GFT rozšířené</a>.</p>
      </div>
  </div>
{% endblock %}