{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Jak číst rozpočet{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> Jak číst rozpočet{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 4} %}{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <h1>Jak číst rozpočet obce</h1>

        <a name="proc-se-zabyvat-rozpocty"></a>
        <h3>Proč se zabývat rozpočty</h3>
        <p>Je třeba si uvědomit...</p>
        <ul>
          <li><strong>Polovinu z vydělaných peněz</strong> běžnému člověku odebere v dnešní době stát.</li>
          <li>Je tedy přirozené <strong>strávit pár hodin měsíčně hlídáním</strong> toho, co se s onou polovinou peněz děje.</li>
          <li><strong>Peníze jsou nástroj</strong>, stejně jako sekyra. Je tedy třeba se s nimi učit zacházet. Znamená to:
           <ol type="a">
             <li>snažit se porozumět obecnímu rozpočtu,</li>
             <li>získat vlastní představu, jak by rozpočet měl vypadat,</li>
             <li>vést aktivní dialog se zastupiteli o jeho tvorbě.</li>
           </ol>
          </li>
        </ul>


        <a name="jak-se-tvori-rozpocet"></a>
        <h3>Jak se tvoří rozpočet</h3>
        <p>Postup tvorby rozpočtu obce je předepsán zákonem. Pro občana jsou klíčové zejména dva okamžiky:</p>
        <ul>
          <li>když je připraven, projednán a zveřejněn <strong>návrh rozpočtu na příští rok</strong> a zastupitelstvo ho má schválit,</li>
          <li>když je připraven a zveřejněn tzv. <strong>závěrečný účet za předchozí rok</strong> a zastupitelstvo ho má schválit.</li>
        </ul>

        <p>Více k tématu naleznete na straně 28 <a href="http://www.transparency.cz/pruvodce-komunalnimi-rozpocty/">Průvodce komunálními rozpočty</a>.</p>

        <a name="prijmy"></a>
        <h3>Odkud se berou peníze v rozpočtu - Příjmy</h3>
        <p>Tok prostředků do rozpočtu obcí není jednoduchý, nejlépe ho ukazuje následující obrázek.</p>

        <div class="img-center">
          <a href="http://www.transparency.cz/doc/kr_pruvodce2008.pdf">
            <img src="/bundles/publicbudgetfrontend/images/zdroje-obecnich-rozpoctu.png" alt="" />
          </a>
        </div>

        <p>Příjmy se rozlišují dle druhu na:</p>
        <ul>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#B.Druhove">Daňové příjmy</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#B.Druhove">Nedaňové příjmy</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#B.Druhove">Kapitálové příjmy</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#B.Druhove">Přijaté dotace</a>.</li>
        </ul>

        <p>Více k tématu naleznete na stranách 18 a 33 <a href="http://www.transparency.cz/pruvodce-komunalnimi-rozpocty/">Průvodce komunálními rozpočty</a>.</p>

        <a name="vydaje"></a>
        <h3>Na co se peníze z rozpočtu utrácí - Výdaje</h3>

        <p>Zdaleka ne všechny výdaje obce mohou zastupitelé ovlivnit.</p>
        <ul>
          <li>Některé činnosti obce se týkají bezprostředně záležitostí obce (tzv. samostatná působnost). Jiné činnosti vykonává obec za stát (tzv. přenesená působnost). Například zajišťuje provoz stavebních úřadů. U tzv. obcí s přenesenou působností mohou tyto činnosti zajišťované státu představovat významnou část rozpočtu.</li>
          <li>Další část rozpočtů jsou povinné výdaje, jejichž vynaložení je striktně předepsáno zákony a rozpočtem obce pouze “protečou”. Například výdaje v sociální oblasti.</li>
          <li>Část činností obce musí zajistit ze zákona, například zajistit odvoz odpadu. Je ale možné hledat různé cesty, jak tyto povinnosti zajistit.</li>
        </ul>

        <p>Výdaje se rozlišují dle druhu na:</p>
        <ul>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#B.Druhove">Běžné výdaje</a> - prostředky použité hlavně na každodenní provoz obce, v následujících letech už z nich nebude žádný (přímý) užitek a</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#B.Druhove">Kapitálové výdaje</a> - investice do majetku obce, z kterého bude resp. měl by být užitek i v následujících letech.</li>
        </ul>

        <p>Výdaje se rozlišují dle účelu na:</p>
        <ul>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#C.Odvetvove">Zemědělství a lesní hospodářsví</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#C.Odvetvove">Průmyslová a ostatní odvětví hospodářsví</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#C.Odvetvove">Služby pro obyvatelstvo</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#C.Odvetvove">Sociální věci a politika zaměstnanosti</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#C.Odvetvove">Bezpečnost státu a právní ochrana</a> a</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461#C.Odvetvove">Všeobecná veřejná správa a služby</a>.</li>
        </ul>

        <p>Více k tématu naleznete na stranách 38 a 63 <a href="http://www.transparency.cz/pruvodce-komunalnimi-rozpocty/">Průvodce komunálními rozpočty</a>.</p>

        <a name="financovani"></a>
        <h3>Kde jsou zachyceny půjčky, splátky, vlastní účty - Financování</h3>

        <p>Součástí rozpočtu obce nejsou jen příjmy a výdaje obce, ale i tzv. <strong>financování</strong> popisující situace, kdy:
        <ol>
          <li>obec si půjčí peníze a pak je splácí,</li>
          <li>dojde ke změně stavu peněžních prostředků na vlastních účtech obce.</li>
        </ol>

        <p>Celkové financování je přitom rozdílem mezi celkovými příjmy a celkovými výdaji. <strong>Vždy tedy musí platit rovnice příjmy – výdaje = financování</strong>.
        <ul>
          <li>Pokud má obec <strong>nižší příjmy než výdaje</strong>, je třeba ve financování říci, z čeho je/bude schodek uhrazen. Buď to obnáší snížení stavu peněžních prostředků na vlastních účtech obce a/nebo půjčku, kterou bude třeba splácet v následujících letech a nebo pokrytí splátkami z půjček v minulosti poskytnutých někomu jinému.</li>
          <li>Pokud má obec <strong>vyšší příjmy než výdaje</strong>, je třeba ve financování říci, kam bude přebytek uložen. Buď bude uložen na vlastní účty obce, použit na úhradu splátek půjček z minulosti nebo někam zapůjčen.</li>
        </ul>

        <p>Je důležité si uvědomit, že <strong>rozpočet obce pro daný rok neříká vůbec nic o tom, jaká je celková výše majetku, dluhů a zápůjček a obce</strong>. Část financování popisuje pouze změny těchto hodnot za daný rok.</p>

        <ul>
          <li><strong>Rozpočet za daný rok tedy může být v přebytku</strong>, ale obec celkově může být zadlužená nebo nechává chátrat majetek, jehož pozdější opravy budou daleko dražší, než kdyby se oprava udělala včas.</li>
          <li>Naopak, pokud obec provede nějakou velkou investici, například novou kanalizaci, <strong>logicky je v daném roce rozpočet ve schodku</strong>. Pokud ale schodek pokryla z vlastních prostředků naspořených v předchozím období, nemusí být vůbec zadlužená. Z dobré investice také budou mít občané dlouhodobý užitek, ne pouze v daném roce."</li>
        </ul>

        <p>Pozor, v účetní formě rozpočtu je Financování kladné, pokud je rozpočet ve schodku a Financování je záporné , pokud je rozpočet v přebytku. Je to důsledek "účetní logiky", kdy Výdaje jsou vedeny záporně a přitom musí platit Příjmy - Výdaje = Financování tj. konkrétně např. 10 - (-8) = -2.</p>

        <a name="presuny"></a>
        <h3>Co je konsolidovaný a nekonsolidovaný rozpočet - Přesuny</h3>
        <p>Obce zřizují kromě základního běžného účtu i další účty a fondy např. fond rezerv a rozvoje nebo fond kulturních a sociálních potřeb. Pokud dochází k přesunu peněžních prostředků mezi jednotlivými fondy nebo účty v průběhu roku, je každý takový interní přesun současně výdajem jednoho fondu/účtu a příjmem jiného fondu/účtu.</p>

        <p>V tzv. nekonsolidovaném rozpočtu obce jsou tyto přesuny zahrnuty mezi příjmy a výdaji, ač se o reálné příjmy a výdaji obce nejedná. V tzv. konsolidovaném rozpočtu či závěrečném účtu tyto přesuny mezi příjmy a výdaji obce uváděny nejsou. Výše příjmů a výdajů vykazovaná v konsolidovaném rozpočtu tak může být výrazně nižší než v nekonsolidovaném rozpočtu. Na www.rozpocetobce.cz zveřejňujeme konsolidovaný rozpočet. Částky uváděné v nekonsolidovaném rozpočtu získáte prostým navýšením příjmů resp. výdajů o částky v bloku "Přesuny".</p>

        <p>Přesuny v rámci rozpočtu je zajímavé sledovat zejména v okamžiku návrhu a schvalování rozpočtu. Navrhované přesuny totiž nemají v rozpočtu přímo určený účel. Ten lze vyčíst pouze v doplňujících materiálech k návrhu rozpočtu.</p>

        <a name="SIMU"></a>
        <h3>Ukazatelé hospodaření obcí</h3>

        <p>Ministerstvo financí ČR monitoruje hospodaření obcí pomocí šestnácti informativních a dvou monitorujících ukazatelů. Cílem monitoringu je vést obce k větší obezřetnosti při hospodaření se svěřenými veřejnými prostředky. Podrobnosti naleznete <a href="http://www.mfcr.cz/cps/rde/xchg/mfcr/xsl/vf_monitoring_hospodareni_obci.html">zde</a> . </p>

        <p>Na www.rozpocetobce.cz používáme:</p>
        <ul>
        <li><strong>Zadluženost</strong> - úvěry, komunální dluhopisy, přijaté návratné finanční výpomoci a ostatní dluhy,</li>
        <!-- <li><strong>Zadluženost/příjmy</strong> - pro orientaci, je rozdíl dlužit 10 miliónů a mít příjmy 1 milión nebo 1 miliardu,</li>
        <li><strong>Stav na účtech</strong> - nejsnáze dostupné finanční prostředky,</li>
        <li><strong>Obec s vyšší mírou rizika hospodaření Ano/Ne</strong> - za obec s vyšší mírou rizika hospodaření se považuje obec, jejíž ukazatel celkové likvidity je v intervalu <0; 1> a zároveň podíl jejích cizích zdrojů k celkovým aktivům je vyšší než 25 % včetně (viz řádek 18 a 13 SIMU ukazatelů viz např. <a href="http://wwwinfo.mfcr.cz/cgi-bin/ufis/iufismon/readDotaz.pl?obdobi=20101200&ico=262854">zde</a>).</li> -->
        </ul>


        <a name="co-v-rozpoctu-obce-neni"></a>
        <h3>Co v rozpočtu obce není</h3>
        <p>Při čtení rozpočtu obce je třeba mít na mysli, že zachycuje <strong>pouze část hospodaření obce</strong>.</p>
        <ul>
          <li>Obec je často zřizovatelem příspěvkových organizací. V rozpočtu obce jsou pak vidět pouze výdaje obce, které poskytla dané organizaci, případně příjmy od ní. Příspěvková organizace ovšem může mít i další příjmy a výdaje. Také <strong>hospodaření obchodních společností, v kterých má obec podíl je odděleno od rozpočtu obce.</strong> Tyto organizace přitom mohou obhospodařovat majetek obce v mnohonásobně vyšší hodnotě, než je rozpočet obce. Přitom obchodní společnosti umožňují daleko jednodušeji toky financí skrýt. Na Praze 3, 10, Ústí i jinde mohou vyprávět.</li>
          <li>V rozpočtu často nejsou vidět i další operace obce. Například Hlavní město Praha <strong>v rozpočtu neuvádí v příjmy z prodeje nemovitostí</strong>. Ty jsou až v Závěrečné správě, která má desítky stran a má formu normálnímu smrtelníku nečitelné účetnické zprávy.</li>
          <li><strong>Rozpočet také nic neříká o celkové velikosti majetku či dluhů obce.</strong> Částečně informuje pouze o jeho změnách v části financování.</li>
        </ul>
        <p>Není to jednoduché. Ale někde člověk začít musí. A rozpočet obce je dobrý výchozí bod.</p>

        <a name="jaky-rozpocet-je-dobry-a-spatny"></a>
        <h3>Jaký rozpočet je „dobrý“ a „špatný“</h3>
        <p>To je otázka na mnoho hodin, dní či roků. Není vůbec co závidět zastupitelům:</p>
        <ul>
          <li><b>Výdaje vs. příjmy</b> – Dlouhodobě je třeba tyto věci držet v rovnováze. Pokud obec udělá velkou investici, není nic špatného být krátkodobě v mínusu, ale musí to mít jasný důvod.</li>
          <li><b>Investiční vs. provozní náklady</b> – V rozpočtech obcí jsou striktně rozdělovány výdaje investiční a provozní. První jsou na vytvoření něčeho, co přetrvá delší dobu, například postavení či oprava školky. Druhé se spotřebují v daný okamžik a už z nich nikdy nic nebude. Ani jeden z nich není <em>špatný</em>. Obec, která <em>projídá svou budoucnost</em>, dává příliš mnoho na provoz a příliš málo do investic.</li>
          <li><b>Úspory vs. půjčky</b> – Půjčit si na investici může být dobré. Půjčovat si na provoz, spotřebu, je cesta do pekel. O úspory je třeba se starat viz. třeba pražská kauza Key Investments.</li>
          <li><b>Výše vs. účel</b> – Nejde jen o výši prostředků v určité oblasti, ale o konkrétní způsob jejich využití. Jeden z pohledů na rozpočet obce zní <em>Uspokojuje rozpočet potřeby občanů v odpovídajících proporcích?</em>. Například v každé obci je přibližně stejný počet mužů a žen. Je dobré dávat 80% výdajů na sport do hokejového klubu, kde hraje 5% chlapců z bohatších rodin?</li>
        </ul>

        <a name="jake-udaje-v-rozpoctu-sledovat"></a>
        <h3>Jaké údaje v rozpočtu sledovat</h3>
        <p>Rozpočet obce je obdoba výsledovky firmy. Jsou lidé, kteří se na výsledovku podívají a jsou schopni říci o firmě mnoho věcí, které často neví ani sám její majitel. Bohužel takových lidí  není mnoho. Naším cílem je tuto <strong>dovednost číst rozpočet rozvíjet</strong> v nás všech. Bez toho budeme stále jen <strong>ovčani</strong>, kteří neovlivňují, co se kolem nich děje.</p>
        <p>Prvním naším krokem by mělo být <strong>dostat se do obrazu</strong> a ptát se:</p>
        <ul>
          <li>Kolik má obec vlastně utrácí?</li>
          <li>Jakou část utrácí za jednotlivé oblasti?</li>
          <li>Kolik to je na jednoho obyvatele obce?</li>
          <li>Kolik to je v porovnání se srovnatelnými obcemi?</li>
          <li>Jsou v rovnováze příjmy a výdaje?</li>
          <li>Pokud ne, tak proč?</li>
          <li>Kolik má obec napůjčováno? Kolik z toho splaceno? kolik obec uspořila?</li>
        </ul>
        <p>Budeme rádi, když nám na této cestě pomůžete.</p>

        <a name="jak-se-vyznat-v-podrobnem-rozpoctu-obce"></a>
        <h3>Jak se vyznat v podrobném rozpočtu obce</h3>

        <p>Výkaz rozpočtu obce dle platné legislativy není moc přehledný. Obecně platí:</p>

        <ul>
          <li>Odlišení druhu příjmu či výdaje je rozlišeno <strong>třídou</strong> resp. detailními <strong>položkami</strong> rozpočtu.</li>
          <li>Odlišení zdroje příjmu či účelu výdaje je dáno <strong>skupinou</strong> resp. jednotlivými <strong>paragrafy</strong> rozpočtu.</li>
          <li>Obce zřizují kromě základního běžného účtu i různé fondy, např. fond rezerv a rozvoje nebo fond kulturních a sociálních potřeb. Pokud dochází k přesunu peněžních prostředků mezi jednotlivými fondy nebo účty, je každý takový interní přesun současně výdajem jednoho fondu/účtu a příjmem jiného fondu/účtu. V podrobném nekonsolidovaném rozpočtu obce jsou tyto výdaje a příjmy zahrnuty. Smyslem tzv. <strong>konsolidace</strong> je očistit údaje v rozpočtu nebo závěrečném účtu o tyto interní přesuny peněžních prostředků. Celková výše příjmů a výdajů obce v konsolidovaném rozpočtu může být výrazně nižší než výše příjmů a výdajů v konsolidovaném rozpočtu. Jejich rozdíl je ale v obou případech stejný.</li>
        </ul>

        <a name="kde-se-o-rozpoctech-dozvedet-vice"></a>
        <h3>Kde se o rozpočtech dozvědět více</h3>
        <p>Česká pobočka Transparency International vydala na téma obecních rozpočtů publikaci „<a href="http://www.transparency.cz/pruvodce-komunalnimi-rozpocty/">Průvodce komunálními rozpočty</a>“.</p>

        <div class="img-right">
            <a href="http://www.transparency.cz/doc/kr_pruvodce2008.pdf">
              <img src="/bundles/publicbudgetfrontend/images/pruvodce.jpg" alt="Průvodce komunálními rozpočty" />
            </a>
        </div>

      	<p>Na webech některých obcí či krajů jsou někdy také srozumitelné úvody do problematiky.</p>

        <p>Pravidla vedení obecních rozpočtů je upravena zákony a vyhláškami Ministerstva financí např.:</p>

        <ul>
          <li><a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-o-obcich-obecni-zrizeni-607.html">Zákon č.128/2000 Sb. o obcích (obecní zřízení)</a></li>
          <li><a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-ze-dne-7-cervence-2000-o-rozpoctovych-pravidlech-uzemnich-rozpoctu-1390.html">Zákon č. 250/2000 Sb. o rozpočtových pravidlech územních rozpočtů</a></li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461">Vyhláška č. 323/2002 Sb.o rozpočtové skladbě</a></li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2001/vyhlaska-c-131-2001-sb-3410">Opatření MF č.j. 111/74 200/1997 o rozpočtové skladbě</a></li>
        </ul>

        <p>Popisy členění rozpočtů obcí naleznete na například na webu MF ČR:</p>

        <ul>
          <li><a href="http://www.mfcr.cz/cps/rde/xchg/mfcr/xsl/ostatni_11423.html">Druhové členění rozpočtu</a></li>
          <li><a href="http://www.mfcr.cz/cps/rde/xchg/mfcr/xsl/ostatni_11422.html">Funkční členění rozpočtu</a></li>
        </ul>

      	<p>Chcete-li pak jít opravdu do detailu, lze doporučit například knihu <a href="http://www.anag.cz/rozpoctova-skladba-v-roce-2011/d-75210/">Rozpočtová skladba v roce 2011</a> vydavatelství ANAG.</p>

        <a name="excel"></a>
        <h3>Jak přenést rozpočty obce do MS Excel</h3>

        <p>Pokud chcete rozpočty obce prozkoumat do většího detailu, může se Vám hodit jejich stažení do MS Excel či jiného tabulkového procesoru či analytického nástroje. Stačí:</p>
        <ul>
          <li>V bloku "Co dále" v pravém dolním rohu stránky se zobrazeným rozpočtem na www.rozpocetobce.cz zvolit Exportujte rozpočet. Variantu české CSV volte v případě, kdy máte na počítači české jazykové prostředí (oddělovač polí středník, desetinná čárka), v opačném případě zvolte anglické CSV (oddělovač polí čárka, desetinná tečka).</li>
          <li>Pro zobrazení sumárních údajů vytvořte nad staženými detailními daty kontingenční resp. pivotní tabulku.</li>
          <li> Pro zobrazení výdajů <strong>zafiltrujte</strong> na třídy 5. BĚŽNÉ VÝDAJE a 6. KAPITÁLOVÉ VÝDAJE, pro zobrazení příjmů na třídy 1-4. Rozhodněte se, zda chcete pracovat s konsolidovaným či nekonsolidovaným rozpočtem viz <a href="#presuny">"Co je konsolidovaný a nekonsolidovaný rozpočet - Přesuny"</a>. V prvním případě zafiltrujte pouze na konsolidované údaje, v druhém si nechte zobrazit konsolidované i nekonsolidované údaje.</li>
          <li>Dle potřebného úhlu pohledu pak zvolte <strong>zobrazení</strong> roků, skupin, tříd, položek či paragrafů ve sloupcích či řádcích viz <a href="#jak-se-vyznat-v-podrobnem-rozpoctu-obce">"Jak se vyznat v podrobném rozpočtu obce"</a>.</li>
          <li>Při <strong>zobrazení agregovaných hodnot</strong> nezapomeňte nastavit operaci "Sčítání" pro pole "Hodnota".</li>
        </ul>
        <p>
          <img src="{{ asset('bundles/publicbudgetfrontend/images/praha_export.jpeg') }}" alt="Zobrazení výdajů Hlavního města Prahy za roku 2000-2011 v kontingenční tabulce MS Excel"/><br/>
          <i>Zobrazení výdajů Hlavního města Prahy za roku 2000-2011 v kontingenční tabulce MS Excel</i>
        </p>


        <div class="like2">
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f25250919607714"></script>
        </div>
      </div>
    </div>
{% endblock %}