{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block meta %}
    <meta property="og:title" content="Rozklikávací rozpočet obce"/>
    <meta property="og:url" content="{{ url('PublicBudgetFrontendBundle_homepage') }}"/>
    <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
    <meta property="og:description" content="Kontrolujte rozpočet své obce. Zjistěte, jaký má vaše obec rozpočet. Ptejte se na něj svého zastupitele nebo starosty. Začněte ovlivňovat, co se děje s Vašimi penězi!"/>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="white">
      <div class="main">

        <div class="header">
          <div class="logo imgr">
            Rozpočet veřejně<span></span>
          </div>
          {% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': null} %}
        </div>

        <div class="content">
          <h1>Kontrolujte rozpočet své obce</h1>
          {% include 'PublicBudgetFrontendBundle::_search-form.html.twig' %}
          <div class="like">
            <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f25250919607714"></script>
          </div>
        </div>
        <div class="home-red">
          {% if municipality %}
            <h2>Hledáte rozpočet obce <a href="{{path('PublicBudgetFrontendBundle_municipality_timeline', {'slug':municipality['slug']})}}">{{municipality['name']}}</a>?</h2>
          {% endif %}

          <ul>
            <li>Zjistěte, jaký má vaše obec rozpočet.</li>
            <li>Ptejte se na něj svého zastupitele nebo starosty.</li>
            <li>Začněte ovlivňovat, co se děje s Vašimi penězi!</li>
          </ul>

          {% if municipality %}
            <div class="btn clr">
              <a href="{{path('PublicBudgetFrontendBundle_municipality_timeline', {'slug':municipality['slug']})}}">Zobrazit rozpočet obce {{municipality['name']}}</a>
            </div>
          {% else %}
            <div class="btn clr">
              <a href="{{ path("PublicBudgetFrontendBundle_about_us") }}">Více o projektu</a>
            </div>
          {% endif %}

          <div class="nasstat">
            <a href="http://www.nasstat.cz/"><img src="{{ asset('bundles/publicbudgetfrontend/images/nas-stat-banner.gif') }}" alt="Náš stát" /></a>
          </div>

        </div>
      </div>
    </div>

    <div class="gray ptop">
      <div class="main">
        <div class="clr">
          {#<div class="col">#}
            {#<h2>Články</h2>#}
            {#<ul class="blog">#}
              {#<li>#}
                {#<a href="">#}
                  {#Pomůžete - Stručná a čtivá kuchařka "Jak číst rozpočet obce"#}
                  {#<span>čtvrtek, 29. září 2011</span>#}
                {#</a>#}
              {#</li>#}
              {#<li>#}
                {#<a href="">#}
                  {#Pomůžete - Stručná a čtivá kuchařka "Jak číst rozpočet obce"#}
                  {#<span>čtvrtek, 29. září 2011</span>#}
                {#</a>#}
              {#</li>#}
            {#</ul>#}
            {#<div class="btn clr">#}
              {#<a href="">Starší články</a>#}
            {#</div>#}
          {#</div>#}
          <div class="col">
            <h2>Twitter</h2>
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 3,
              interval: 30000,
              width: 300,
              height: 300,
              theme: {
                shell: {
                  background: '#7f7f82',
                  color: '#ffffff'
                },
                tweets: {
                  background: '#980f3a',
                  color: '#ffffff',
                  links: '#e1b7c4'
                }
              },
              features: {
                scrollbar: false,
                loop: false,
                live: false,
                behavior: 'all'
              }
            }).render().setUser('rozpocetverejne').start();
            </script>
          </div>
          <div class="col2 l">
            <h2>Facebook</h2>
            <div class="fb">
              <div class="fb-like-box" data-href="http://www.facebook.com/pages/Rozpo%C4%8Det-ve%C5%99ejn%C4%9B/146313132095186" data-width="620" data-show-faces="true" data-stream="false" data-header="false"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}