{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Právní informace{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> Právní informace{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 0} %}{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <h1>Právní informace</h1>

        <p>Informace jsou poskytovány dle:</p>
        <ul>
            <li><a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:345:0090:0096:EN:PDF">Direktivy č. 2003/98/EC o opakovaném použití informací veřejného sektoru</a></li>
            <li><a href="http://www.otevrete.cz/zadosti-o-informace/zadatel/zakon-c-1061999-sb-o-svobodnem-pristupu-k-informacim-aktualni-zneni-124.html">Zákona č. 106/1999 Sb. o svobodném přístupu k informacím.</a></li>
        </ul>
        <p>Další zákony, které upravují rozpočty obcí jsou zejména:</p>
        <ul>
          <li><a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-o-obcich-obecni-zrizeni-607.html">Zákon č.128/2000 Sb. o obcích (obecní zřízení)</a>,</li>
          <li><a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-ze-dne-7-cervence-2000-o-rozpoctovych-pravidlech-uzemnich-rozpoctu-1390.html">Zákon č. 250/2000 Sb. o rozpočtových pravidlech územních rozpočtů</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461">Vyhláška č. 323/2002 Sb.o rozpočtové skladbě</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2001/vyhlaska-c-131-2001-sb-3410">Opatření MF č.j. 111/74 200/1997 o rozpočtové skladbě</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/o-ministerstvu/zakladni-informace/informacni-systemy/arisweb">Opatření MF ČR č.j. 283/1381/1993 (ve znění pozdějších doplňků) na jehož základě byl vybudován systém ARIS</a>,</li>
          <li><a href="http://www.mfcr.cz/cs/o-ministerstvu/zakladni-informace/informacni-systemy/ufis">Vyhláška č. 383/2009 Sb. na jejímž základě byl vybudován systém ÚFIS</a>.</li>
        </ul>
      </div>
    </div>
{% endblock %}