{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Více o rozpočtech{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> Více o rozpočtech{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 0} %}{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <h1>Více o rozpočtech</h1>
           <p>Zde naleznete odkazy, které souvisí s tématem tohoto webu&nbsp;a jsou z následujících oblastí:</p>
           <ul>
             <li><a href="#T1">Související iniciativy v ČR</a></li>
             <li><a href="#T2">Související aktivity v jiných státech</a></li>
             <li><a href="#T3">Související videa</a></li>
             <li><a href="#T4">Aktuální zdroje dat o rozpočtech</a></li>
             <li><a href="#T5">Legislativa</a></li>
             <li><a href="#T6">Visualizace dat</a></li>
             <li><a href="#T7">Enterprise Social Networking</a></li>
             <li><a href="#T8">Další IT odkazy</a></li>
           </ul>
           <a name="T1"></a><h3>Související iniciativy v ČR</h3>
           <ul>
             <li><a href="http://www.vymentepolitiky.cz">www.vymentepolitiky.cz</a></li>
             <li><a href="http://www.zmenpolitiku.cz">www.zmenpolitiku.cz</a></li>
             <li><a href="http://www.denikpolitika.cz">www.denikpolitika.cz</a></li>
             <li><a href="http://www.verejnydluh.cz">www.verejnydluh.cz</a></li>
             <li><a href="http://www.rozklikavacirozpocet.cz/">www.rozklikavacirozpocet.cz</a></li>
             <li><a href="http://www.rozpocetprovsechny.cz/">www.rozpocetprovsechny.cz</a></li>
             <li><a href="http://www.jakhlasovali.cz">www.jakhlasovali.cz</a></li>
             <li><a href="http://praguewatch.cz/">www.praguewatch.cz</a></li>
             <li><a href="http://www.ekonomickareforma.cz">www.ekonomickareforma.cz</a></li>
             <li><a href="http://www.inventurademokracie.cz">www.inventurademokracie.cz</a></li>
             <li><a href="http://www.otevrete.cz/">www.otevrete.cz</a></li>
             <li><a href="http://www.zindex.cz/">www.zindex.cz</a></li>
             <li><a href="http://www.cenastatu.cz/">www.cenastatu.cz</a></li>
             <li><a href="http://www.oziveni.cz/">www.oziveni.cz</a></li>
             <li><a href="http://www.bezkorupce.cz/desatero/prikazani-osme/">www.bezkorupce.cz/desatero/prikazani-osme/</a></li>
             <li><a href="http://www.opendata.cz/">www.opendata.cz</a></li>
             <li><a href="http://www.pruhlednaradnice.cz/">www.pruhlednaradnice.cz</a></li>
             <li><a href="http://www.verejnyportal.cz/">www.verejnyportal.cz</a></li>
             <li><a href="http://obcan.ecn.cz/">http://obcan.ecn.cz</a></li>
             <li><a href="http://petice.ecn.cz">http://petice.ecn.cz</a></li>
             <li><a href="http://www.petice.net/">www.petice.net</a></li>
             <li><a href="http://napistejim.cz/">http://napistejim.cz/</a></li>
             <li><a href="http://www.otevrenaspolecnost.cz/">www.otevrenaspolecnost.cz</a></li>
             <li><a href="http://www.osf.cz/transparentnost-a-verejna-odpovednost/transparentnost-a-verejna-odpovednost">www.osf.cz/transparentnost-a-verejna-odpovednost/transparentnost-a-verejna-odpovednost</a></li>
           </ul>
           <a name="T2"></a><h3>Související aktivity v jiných státech</h3>
           <ul>
             <li><b>Mezinárodní</b>
               <ul>
                 <li><a href="http://www.openspending.org/">www.openspending.org</a></li>
                 <li><a href="http://opengovernmentdata.org/">www.opengovernmentdata.org</a></li>
                 <li><a href="http://www.foiadvocates.net/">www.foiadvocates.net</a></li>
               </ul>
             </li>
             <li><b>Spojené státy</b>
               <ul>
                 <li><a href="http://www.data.gov/" rel="nofollow">www.data.gov</a>,&nbsp;</li>
                 <li><a href="http://www.deathandtaxesposter.com/">www.deathandtaxesposter.com</a>,&nbsp;</li>
                 <li><a href="http://www.thestate.com/2011/01/06/1634109/how-would-you-fix-south-carolinas.html">How To Fix a Budget</a>,&nbsp;</li>
                 <li><a href="http://whatwepayfor.com/">whatwepayfor.com</a></li>
                 <li><a href="http://www.datavizchallenge.org/">Vizualize Your Taxes -&nbsp;www.datavizchallenge.org</a></li>
                 <li><a href="http://www.nytimes.com/interactive/2010/11/13/weekinreview/deficits-graphic.html">Budget Puzzle: You Fix the Budget</a></li>
                 <li><a href="http://mapyourtaxes.mo.gov/MAP/Stimulus/">Missouri Accountability Portal</a></li>
                 <li><a href="http://www.itdashboard.gov/">www.itdashboard.gov</a></li>
                 <li><a href="http://datawithoutborders.cc/">http://datawithoutborders.cc</a></li>
               </ul>
             </li>
             <li><b>Velká Británie</b>
               <ul>
                 <li><a href="http://data.gov.uk/" rel="nofollow">http://data.gov.uk</a></li>
                 <li><a href="http://data.gov.uk/" rel="nofollow"></a><a href="http://data.gov.uk/dataset/coins">http://data.gov.uk/dataset/coins</a></li>
                 <li><a href="http://wheredoesmymoneygo.org/">http://wheredoesmymoneygo.org</a></li>
                 <li><a href="http://www.openlylocal.com/">www.openlylocal.com</a></li>
               </ul>
             </li>
             <li><b>Slovensko</b>
               <ul>
                 <li><a href="http://www.opendata.sk">www.opendata.sk</a>,&nbsp;</li>
                 <li><a href="http://www.cenastatu.sk">www.cenastatu.sk</a>,</li>
                 <li><a href="http://vestnik.transparency.sk/">Otvorený vestník verejného obstaravania (Transparency SK)</a></li>
                 <li><a href="http://www.rozpocet.sk/">www.rozpocet.sk</a></li>
               </ul>
             </li>
             <li><b>Polsko</b>
               <ul>
                 <li><a href="http://www.dlugpubliczny.org.pl">www.dlugpubliczny.org.pl</a></li>
                 <li><a href="http://otwartedane.pl/">http://otwartedane.pl/</a></li>
                 <li><a href="http://www.dlugpubliczny.org.pl"></a><a href="http://centrumcyfrowe.pl/" target="_blank">http://centrumcyfrowe.pl</a></li>
               </ul>
             </li>
             <li><b>Estonsko</b>
               <ul>
                 <li><a href="http://www.meieraha.eu/">www.meieraha.eu</a></li>
               </ul>
             </li>
             <li><b>Izrael</b>
               <ul>
                 <li><a href="http://www.openspending.org/dataset/israel-state-budget">www.openspending.org/dataset/israel-state-budget</a></li>
                 <li><a href="http://www.meida.org.il/">www.meida.org.il</a></li>
               </ul>
             </li>
             <li><b>Keňa</b>
               <ul>
                 <li><a href="http://opendata.go.ke/">http://opendata.go.ke/</a></li>
               </ul>
             </li>
           </ul>
           <a name="T3"></a><h3>Související videa</h3>
           <ul>
             <li><a href="http://www.youtube.com/watch?v=jiUKpX09zo4">Bill Gates: How state budgets are breaking US schools</a></li>
             <li><a href="http://www.ted.com/talks/david_cameron.html">David Cameron: Nový věk vlády</a></li>
             <li><a href="http://www.ted.com/talks/dave_meslin_the_antidote_to_apathy.html">Dave Melsin: Protilátka na apatii - 7 bariér, které mám brání se účastnit dění ve společnosti</a></li>
             <li><a href="http://www.youtube.com/watch?v=akVL7QY0S8A">Elizabeth Warren: The Coming Collapse of the Middle Class</a></li>
             <li><a href="http://www.ted.com/talks/lang/cze/tim_berners_lee_the_year_open_data_went_worldwide.html">Tim Berners-Lee: Rok, kdy se otevřená data vyšla do světa</a></li>
             <li><a href="http://www.ted.com/talks/tim_berners_lee_on_the_next_web.html">Tim Berners-Lee: On the next Web</a></li>
             <li><a href="http://www.youtube.com/watch?v=jUrC5yd7_F0">Morální hazard a run na Northern Rock</a></li>
             <li><a href="http://www.youtube.com/watch?v=d0nERTFo-Sk">"Fear the Boom and Bust" a Hayek vs. Keynes Rap Anthem</a></li>
             <li><a href="http://www.opendata.cz/?q=cs/film">Open Knowledge Foundation: #opendata</a></li>
           </ul>
           <a name="T4"></a><h3>Aktuální zdroje dat o rozpočtech</h3>
           <ul>
             <li><a href="http://www.google.cz/search?q=4351+2111+P%C5%99%C3%ADjmy+z+poskytov%C3%A1n%C3%AD+slu%C5%BEe">Rozpočty obcí na netu dnes</a></li>
             <li><a href="http://wwwinfo.mfcr.cz/cgi-bin/aris/iarisorg/index.pl">Rozpočty obcí 2000-2009 v systému ARIS MF ČR</a>&nbsp;</li>
             <li><a href="http://wwwinfo.mfcr.cz/cgi-bin/ufis/iufisorg/index.pl">Rozpočty obcí 2010 a dále v systému ÚFIZ MF ČR</a></li>
             <li><a href="http://www.psp.cz/sqw/text/tiskt.sqw?O=6&amp;CT=102&amp;CT1=0">Státní rozpočet 2011 v Poslanecké sněmovně</a></li>
             <li><a href="http://www.czso.cz/csu/2003edicniplan.nsf/p/9505-03">Příjmy a výdaje v roce 2002 na ČSÚ</a></li><li><a href="http://rozpocet.praha.eu/">Rozklikávací rozpočet Prahy</a></li>
           </ul>
           <a name="T5"></a><h3>Legislativa</h3>
           <ul>
             <li><a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-o-obcich-obecni-zrizeni-607.html">Zákon č.<i>128/2000 Sb.</i>&nbsp;o obcích (obecní zřízení)</a></li>
             <li><a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-ze-dne-7-cervence-2000-o-rozpoctovych-pravidlech-uzemnich-rozpoctu-1390.html">Zákon č.&nbsp;<i>250/2000 Sb.</i>&nbsp;o rozpočtových pravidlech územních rozpočtů</a></li>
             <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2002/vyhlaska-c-323-2002-sb-3461">Vyhláška č. 323/2002 Sb.o rozpočtové skladbě</a></li>
             <li><a href="http://www.mfcr.cz/cs/legislativa/legislativni-dokumenty/2001/vyhlaska-c-131-2001-sb-3410">Opatření MF č.j. 111/74 200/1997&nbsp;o rozpočtové skladbě</a></li>
             <li><a href="http://www.mfcr.cz/cs/o-ministerstvu/zakladni-informace/informacni-systemy/arisweb">ARIS MF ČR</a></li>
             <li><a href="http://www.mfcr.cz/cs/o-ministerstvu/zakladni-informace/informacni-systemy/ufis">ÚFIZ MF ČR</a></li>
           </ul>
           <a name="T6"></a><h3>Visualizace dat</h3>
           <ul>
             <li><a href="http://www.youtube.com/watch?v=US4_jFpwJPo&amp;feature=related">YouTube - Information is Beautiful</a><br></li>
             <li><a href="http://en.m.wikipedia.org/wiki/Trendalyzer">Trend Analyzer</a></li>
             <li><a href="http://www.informationisbeautiful.net/">Information Is Beautiful | Ideas, issues, knowledge, data - visualized!</a></li>
             <li><a href="http://www.ted.com/talks/hans_rosling_shows_the_best_stats_you_ve_ever_seen.html">TED -&nbsp;Hans Rosling shows the best stats you've ever seen</a></li>
             <li><a href="http://www.tableausoftware.com/">Fast Analytics and Rapid-fire Business Intelligence from Tableau Software | Tableau Software</a></li>
             <li><a href="http://domaci.ihned.cz/c1-39397830-animace-rozpocet-2010-podivejte-se-kdo-kolik-dostane-a-kdo-nadelal-nejvetsi-dluhy">ANIMACE: Rozpočet 2010. Podívejte se, kdo kolik dostane a kdo nadělal největší dluhy</a></li>
             <li><a href="http://www.google.cz/images?q=infographics&amp;biw=1147&amp;bih=685">infographics - Vyhledávání Google</a></li>
             <li><a href="http://www.visualisingdata.com/">Visualising Data</a></li>
             <li><a href="http://www.readwriteweb.com/archives/visualize_your_bookmarks_with_tidy_favorites.php">Visualize Your Bookmarks With Tidy Favorites</a></li>
             <li><a href="http://www.touchgraph.com/TGGoogleBrowser.html">TouchGraph | Products: Google Browser</a></li>
             <li><a href="http://www.coolinfographics.com/">Cool Infographics - Blog</a></li>
             <li><a href="http://www.eyebeam.org/">EyeBeam</a></li>
             <li><a href="http://www.slideshare.net/jess3/data-visualization-meets-visual-storytelling">Data Visualization Meets Visual Storytelling</a></li>
             <li><a href="http://datasf.org/showcase/">San Francisco Government ShowCase</a></li>
             <li><a href="http://gephi.org/">http://gephi.org/</a></li>
             <li><a href="http://www.penize.cz/interaktivni-grafiky">www.penize.cz/interaktivni-grafiky</a></li>
             <li><a href="http://multimedia.ihned.cz/infografika/">http://multimedia.ihned.cz/infografika</a></li>
             <li><a href="http://www.infografika.cz/">www.infografika.cz</a></li>
             <li><a href="http://www.guardian.co.uk/data">www.guardian.co.uk/data</a></li>
             <li><a href="http://www.jakeporway.com/datawithoutborders/">www.jakeporway.com/datawithoutborders</a></li>
             <li><a href="http://blog.topprospect.com/wp-content/uploads/2011/07/spawn_FINAL.gif">Top Prospects Visualisation</a></li>
             <li><a href="http://www.google.com/publicdata">Google Public Data Explorer</a></li>
             <li><a href="http://www.infographicsarchive.com/">www.infographicsarchive.com</a></li>
             <li><a href="http://www.datablog.cz/">www.datablog.cz</a></li>
             <li><a href="http://www.delicious.com/datablog.cz">www.delicious.com/datablog.cz</a></li>
           </ul>


           <a name="T7"></a><h3>Enterprise Social Networking</h3>
           <ul>
             <li><a href="http://www.yammer.com/">www.yammer.com</a></li>
             <li><a href="http://www.socialtext.com/">www.socialtext.com/</a></li>
             <li><a href="http://www.socialcast.com/">www.socialcast.com/</a></li>
             <li><a href="http://www.tibbr.com/">www.tibbr.com/</a></li>
             <li><a href="http://www.salesforce.com/chatter">www.salesforce.com/chatter</a></li>
             <li><a href="http://www.jivesoftware.com/">www.jivesoftware.com</a></li>
             <li><a href="http://www.google.cz/search?q=enterprise+social+networking">www.google.cz/search?q=enterprise+social+networking</a></li>
           </ul>

           <a name="T8"></a><h3>Další IT odkazy</h3>
           <ul>
             <li><a href="http://linkeddata.org/">http://linkeddata.org</a></li>
             <li><a href="http://www.google.cz/search?q=social+BI">www.google.cz/search?q=social+BI</a></li>
             <li><a href="http://www.google.cz/search?q=facebook+for+enterprises">www.google.cz/search?q=facebook+for+enterprises</a></li>
             <li><a href="http://www.foaf.sk/">www.foaf.sk</a></li>
             <li><a href="http://tables.googlelabs.com/">Google Fusion Tables</a></li>
             <li><a href="http://pipes.yahoo.com/">Yahoo Pipes</a></li>
             <li><a href="http://bigclean.org/praha/">http://bigclean.org/praha/</a></li>
           </ul>
      </div>
    </div>
{% endblock %}