{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Vyhledávání{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> Vyhledávání{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': null} %}{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <h1>Vyhledávání</h1>
        <div class="wrapper">
          <table class="obce">
            {% if municipalities|length %}
              {% for municipality in municipalities %}
                <tr>
                  <td><a href="{{ path('PublicBudgetFrontendBundle_municipality_timeline', {'slug':municipality.slug}) }}">{{ municipality.name }}</a></td>
                  <td>{{ municipality.getOkres().name }} ({{ municipality.getKraj().name }})</td>
                  <td class=""></td>
                </tr>
              {% endfor %}
            {% else %}
              <strong>Vyhledávání nenalezlo žádné výsledky.</strong>
            {% endif %}
          </table>
        </div>

      </div>
    </div>
{% endblock %}