{% extends 'PublicBudgetFrontendBundle::layout.html.twig' %}

{% block title %}Rozklikávací rozpočet obce - Děkujeme{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> Děkujeme{% endblock %}

{% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': null} %}{% endblock %}

{% block content %}
    <div class="main">
      <div class="content">
        <h1>Děkujeme</h1>

        <div class="clr dekujeme">
          <div class="dekujeme-img">
            <img src="{{ asset('bundles/publicbudgetfrontend/images/fond-otakara-motejla.jpeg') }}" />
          </div>
          <div class="dekujeme-text">
            Podpořeno <a href="http://www.osf.cz/fond-otakara-motejla-rozvoj-pravniho-statu/fond-otakara-motejla">Fondem Otakara Motejla</a>, kterou založila a spravuje <a href="http://www.osf.cz">Nadace Open Society Fund Praha</a>. Jsme součástí jejich iniciativy <a href="http://www.nasstat.cz/">Naš stát</a>.
          </div>
        </div>

        <div class="clr dekujeme">
          <div class="dekujeme-img">
            <img src="{{ asset('bundles/publicbudgetfrontend/images/ipo.jpg') }}" />
          </div>
          <div class="dekujeme-text">
            Organizátoři <a href="http://cs-cz.facebook.com/ipo48prague">IPO48 v Praze</a> nás dali dohromady na akci, kde se měli možnost potkat ti správní lidé a během dvou dnů vytvořit skvělé věci.
          </div>
        </div>

        <div class="clr dekujeme">
          <div class="dekujeme-img">
            <img src="{{ asset('bundles/publicbudgetfrontend/images/google.jpg') }}" />
          </div>
          <div class="dekujeme-text">
            <a href="http://www.google.com/apps/intl/cs/business/index.html">Google Apps</a> nám umožnily zdarma sdílet informace v týmu, i když jsme stovky kilometrů od sebe, více <a href="http://blog.rozpocetverejne.cz/2011/09/tip-pro-neziskovky-komplet-it-prostredi.html">zde</a>.
          </div>
        </div>

        <div class="clr dekujeme">
          <div class="dekujeme-img">
            <img src="{{ asset('bundles/publicbudgetfrontend/images/us-embassy.gif') }}" />
          </div>
          <div class="dekujeme-text">
            <a href="http://czech.prague.usembassy.gov/">Ambasáda USA</a> nám svými prostředky pomohla udělat první krok a pomáhá nám i v dalším roce.
          </div>
        </div>

        <div class="clr dekujeme">
          <div class="dekujeme-img">
            <img src="{{ asset('bundles/publicbudgetfrontend/images/neit-consulting.gif') }}" />
          </div>
          <div class="dekujeme-text">
            <a href="http://www.neit.cz/">NeIT</a> jsou profesionálové na systémy pro analýzu dat. Pomohli nám zpracovat stovky GB dat a dát je do použitelné podoby.
          </div>
        </div>
      </div>
    </div>
{% endblock %}