/*
 * IE6 Styl 
 * Autor: Jan Rezac
 *
 */

div.search input.text {
  height: 43px;
}

div.footer,
div.gray,
div.red,
div.white {
  zoom: 1;
}

ul.mm {
  margin: 0;
}

div.search input.sub {
  width: 0;
  overflow: visible;
}