/*
 * IE7 Styl 
 * Autor: Jan Rezac
 *
 */


div.search input.sub {
  padding: 6px 14px 8px;
}

div.header div.search input.sub {
  padding: 2px 14px 4px;
}

div.footer,
div.gray,
div.red,
div.white {
  zoom: 1;
}