/*
 * Zakladni Styl
 * Autor: Jan Rezac
 *
 */

@import url("initial.css");

a, a:link {
  text-decoration: underline;
  cursor: pointer;
  color: #980f3a;
}

a:visited {
  color: #892988;
}

a:hover,
a:focus,
a:active {
  color: #000;
}

/*========== [layout] ========================================================*/
body {
  text-align: center;
  color: #fff;
  font-size: 1em;
  line-height: 1.5;
  background: #980f3a;
}

table {
  line-height: 1.5;
  color: #444;
}

div.mainWrap {
  color: #444;
  background: #fff url(../images/top.gif) 0 0 repeat-x;
}

div.main {
  text-align: left;
  margin: 0 auto;
  width: 940px;
  position: relative;
}

.container940,
.innerContainer {
  width: 940px;
  margin: 0px auto;
  display: block;
}

/*========== [header] ========================================================*/

div.header {
  height: 80px;
  position: relative;
}

div.logo {
  width: 117px;
  height: 56px;
  position: absolute;
  top: 9px;
}

div.logo span {
  background: url(../images/logo.gif);
}

div.mm {
  font-size: 16px;
  padding: 40px 0 0 180px;
}

div.mm ul {
  width: 100%;
  overflow: hidden;
}

div.mm li {
  float: left;
  margin: 0;
  padding: 0;
  background: transparent;
}

div.mm a,
div.mm a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 6px 10px 10px;
  text-shadow: 1px 1px 1px #690927;
}

div.mm a:hover {
  background: #810a2f;
}

div.mm li.active a,
div.mm li.active a:visited,
div.mm li.active a:hover {
  background: #7f7f82;
  padding: 6px 10px 11px;
  text-shadow: 1px 1px 1px #57575b;
}

/*========== [content] ========================================================*/

div.content {
  position: relative;
  padding: 50px 0 30px;
}

h1 {
  letter-spacing: -2px;
  font-size: 48px;
  line-height: 1.0;
  color: #980f3a;
  font-weight: bold;
  margin-bottom: 20px;
}

div.search {
  position: relative;
  font-size: 18px;
}

div.search input.text {
  width: 306px;
  padding: 8px 4px;
  font-weight: bold;
  border: 1px solid #acacb2;
  box-shadow:inset 2px 2px 2px #ddd;
}

div.search input.text:focus {
  border: 1px solid #777;
}

label.overlabel-apply {
	position: absolute;
	top: 6px;
	left: 8px;
	z-index: 1;
  color: #b3b3b7;
	cursor: text;
}

div.search input.sub {
  position: absolute;
  left: 320px;
  top: 0;
}

input.sub {
  padding: 7px 14px 9px;
  color: #fff;
  background: #980f3a url(../images/btn.gif) 0 0 repeat-x;
  border: 0 none;
  cursor: pointer;
}

div.compare-button {
  padding: 20px 0 40px;
}

div.compare-button input {
  padding: 10px 16px 12px;
  font-size: 18px;
}

div.header div.search {
  position: absolute;
  top: 45px;
  left: auto;
  right: 0;
  font-size: 12px;
}

div.header div.search input.text {
  padding: 4px 4px;
  width: 106px;
}

div.header div.search label.overlabel-apply {
  top: 4px;
}

div.header div.search input.sub {
  padding: 3px 10px 5px;
  border: 1px solid #78062a;
  left: 120px;
  top: -1px;
}

div.like {
  position: absolute;
  top: 126px;
  left: 490px;
  width: 450px;
}

div.like2 {
  margin: 20px 0;
}

div.white {
  background: url(../images/bot.gif) 0 100% repeat-x;
}

div.comments {
  background: #fff;
}

div.fb-main {
  background: #fff;
  width: 940px;
  height: 184px;
  margin: 30px 0 20px;
}

div.graph h2 {
  padding-top: 24px;
  color: #980f3a;
  margin-bottom: 0;
}

div#diskuse h2 {
  color: #980f3a;
}

div.graph h3 {
  color: #444;
  position: relative;
  top: -6px;
  padding-bottom: 10px;
}

div.graph h3 span {
  margin-left: 4px;
}

div.red,
div.home-red {
  background: #980f3a;
  color: #fff;
}

div.home-red {
  padding: 15px 24px 30px;
  position: relative;
}

div.nasstat {
  position: absolute;
  right: 24px;
  bottom: 30px;
}

div.home-red ul li {
  background-image: url(../images/dot2.gif);
  margin-left: 12px;
}

div.home-red ul {
  margin-bottom: 27px;
}

div.home-red a {
  color: #fff;
}

div.home-red a:hover {
  color: #ffeaea;
}

div.gray,
div.bread {
  background: #7f7f82;
  color: #fff;
}

div.gmap {
  float: left;
  width: 640px;
}

div.hlt {
  width: 300px;
  line-height: 1.4;
  float: right;
  font-size: 18px;
}

div.hlt2 {
  padding: 30px 35px;
}

div.hlt ul li,
div.gray ul li {
  margin: 0;
  padding: 0;
  background: transparent;
}

div.hlt ul li,
div.gray ul.blog li {
  margin-bottom: 10px;
}

div.hlt ul {
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px #690927;
}

div.hlt div.btn a,
div.hlt div.btn a:visited,
div.home-red div.btn a,
div.home-red div.btn a:visited {
  background: #fff url(../images/key.gif) 90% 6px no-repeat;
  font-size: 18px;
  color: #980f3a;
  padding: 8px 48px 9px 14px;
  display: block;
  float: left;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
}

div.hlt div.btn a:hover,
div.home-red div.btn a:hover {
  text-decoration: underline;
}

div.ptop {
  padding: 30px 0 40px;
}

div.col {
  width: 300px;
  float: left;
  margin-right: 20px;
}

div.go {
  padding: 14px 0 0;
}

div.go h3 {
  margin-bottom: 6px;
}

div.col2 {
  width: 620px;
  float: left;
  margin-right: 20px;
}

h2 {
  font-size: 36px;
  letter-spacing: -1px;
  margin-bottom: 14px;
}

h3,
div.soucet {
  font-size: 24px;
  letter-spacing: -1px;
  margin-bottom: 18px;
  color: #980f3a;
}

div.soucet {
  text-align: center;
}

div.soucet p {
  margin: 0;
  padding: 0;
}

ul li {
  padding-left: 24px;
  background: url(../images/dot.gif) 0 7px no-repeat;
  margin-left: 30px;
}

div.gray h2,
div.gray h3 {
  text-shadow: 1px 1px 1px #57575b;
  color: #fff;
}

ul.blog {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 25px;
}

ul.blog a,
ul.blog a:visited {
  text-decoration: none;
  display: block;
  color: #fff;
  text-shadow: 1px 1px 1px #57575b;
}

ul.blog a:hover {
  color: #eee;
}

ul.blog a span,
ul.blog a:hover span {
  color: #d3d3d3;
  display: block;
  text-shadow: 1px 1px 1px #57575b;
}

div.btn a,
div.btn a:visited {
  background: #980f3a url(../images/btn.gif) 0 0 repeat-x;
  font-size: 18px;
  text-shadow: 1px 1px 1px #690927;
  color: #fff;
  padding: 8px 14px 9px 14px;
  display: block;
  float: left;
  text-decoration: none;
}

div.btn a:hover {
  background: #980f3a;
}

div.fb {
  background: #fff;
  height: 258px;
  overflow: hidden;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 20px;
}

ol li {
  margin-left: 60px;
}

h1.error {
  color: #ff0000;
}

div.bread {
  padding: 3px 0 6px;
  font-size: 14px;
  color: #d3d3d3;
}

div.bread a,
div.bread a:visited {
  color: #fff;
  margin-right: 4px;
  padding-right: 14px;
  background: url(../images/bread.gif) 100% 4px no-repeat;
}

div.bread a:hover {
  text-decoration: none;
}

div.bread span {
  margin-right: 6px;
}

div.list ul {
  width: 100%;
  overflow: hidden;
  background: #7f7f82;
}

div.abc ul {
  margin-top: 30px;
  border-bottom: 6px solid #980f3a;
}

div.list ul li {
  float: left;
  margin: 0;
  padding: 0;
  background: transparent;
  border-right: 1px solid #aaa;
}

div.list a {
  display: block;
  color: #fff;
  background: #7f7f82;
  text-decoration: none;
  padding: 2px 8px;
}

div.abc a {
  padding: 2px 0;
  text-align: center;
  width: 30px;
}

div.list a:hover {
  background: #aaa;
}

div.list li.active a {
  background: #980f3a;
}

div.list2 ul {
  width: 100%;
  height: 50px;
  overflow: hidden;
}

div.list2 ul li {
  float: left;
  margin: 0;
  padding: 0;
  /*background: transparent;*/
  background: #7f7f82;
  /*border-right: 1px solid #aaa;*/
}

div.list2 a {
  display: block;
  color: #fff;
  background: #7f7f82;
  text-decoration: none;
  padding: 13px 30px;
}

div.list2 a:hover {
  background: #aaa;
}

div.list2 li.active a {
  background: #980f3a;
}

table {
  width: 100%;
}

table.obce td {
  padding: 3px 10px 4px 0;
  border-bottom: 1px solid #d3d3d3;
}

table.obce a {
  font-size: 24px;
  text-decoration: none;
  padding: 2px 4px 1px;
}

table.obce a:hover {
  background: #980f3a;
  color: #fff;
}

div.mBot {
  margin-bottom: 20px;
}

div.graph2 {
  background: #d3d3d3;
  height: 300px;
}

div.year ul {
  margin: 0;
}

div.type {
  padding: 7px 10px 0;
  background: #980f3a;
}

div.type ul,
div.type ul a {
  background: #980f3a;
}

div.type ul li {
  border-right-color: #ba5977;
}

div.type ul a {
  padding-left: 16px;
  padding-right: 16px;
}

div.type ul li.active a {
  background: #fff;
  color: #444;
}

ul.ui-autocomplete {
  border-radius: 0 !important;
  font-size: 1em !important;
}

ul li.ui-menu-item {
  background: transparent;
  font-size: 1em !important;
}

.ui-menu .ui-menu-item a {
  text-align: left;
  font-size: 1em !important;
}

.ui-menu .ui-menu-item a:hover {
  color: #980f3a;
  background: #fff3f7;
  border: 1px solid #ebd3db;
}

div.img-right {
  float: right;
  margin: 5px 0 20px 40px;
}

div.dekujeme-img {
  float: left;
}

div.dekujeme-text {
  width: 700px;
  float: right;
}

div.dekujeme {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

div.img-center {
  margin: 5px 0 20px;
}

div.img-right img {
  border: 1px solid #ccc;
}

div.img-right a:hover img {
  border: 1px solid #980f3a;
}

div.head {
  background: #eeeeef;
  padding: 30px 0 20px;
}

div.head ul li {
  margin: 0;
  padding: 0;
  background: transparent;
}

th,
td {
  vertical-align: top;
}

div.head th {
  font-weight: normal;
  width: 200px;
}

.schodek span {
  font-weight: bold;
  color: #fff;
  background: #ff0000;
  padding: 2px;
}

.prebytek span {
  font-weight: bold;
  color: #fff;
  background: #00ba35;
  padding: 2px;
}

td.schodek a {
  color: #ff0000;
  padding-right: 13px;
  background: url(../images/dot.png) 100% 4px no-repeat;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
}

td.prebytek a {
  color: #00ba35;
  padding-right: 13px;
  background: url(../images/dot2.png) 100% 4px no-repeat;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
}

td.schodek a:hover,
td.prebytek a:hover {
  color: #000;
  background-position: 100% -996px;
}

p.diskuse {
  position: absolute;
  bottom: 0;
  left: 640px;
}

div.content-detail {
  padding-top: 0;
}

div.half {
  width: 460px;
  border-top: 1px solid #c2c2c2;
}

div.graph-wrap {
  background: url(../images/graph1.gif) 0 0 repeat-y;
}

div.graph-wrap2 {
  background: url(../images/graph2.gif) 0 100% no-repeat;
}

div.gback {
  background: #eeeeef;
  width: 260px;
  text-align: center;
  margin-left: 100px;
}

div.gback h3 {
  color: #444;
  margin: 0;
}

div.graph-detail {
  padding: 0 1px;
}

div.graph-data {
  background: #eeeeef;
  padding: 15px 20px;
  margin: 1px;
}

div.graph-data ul li {
  position: relative;
  background: transparent;
  padding: 0;
  margin: 0 0 6px;
  border-bottom: 1px solid #c2c2c2;
}
div.graph-data ul li a {
  max-width: 165px;
  display: block;
}

div.graph-data ul li span {
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 0;
  text-align: right;
}

.sum {
  font-weight: bold;
}

.sum div.clr {
  position: absolute;
  top: 5px;
  left: 170px;
}

div.ptb {
  padding: 20px 0;
}

div.finance {
  width: 620px;
  float: left;
  border: 1px solid #c2c2c2;
}

div.ptb div.graph-wrap2 {
  background: url(../images/graph2b.gif) 0 100% no-repeat;
}

div.graph-data-pad {
  background: transparent;
}

div.gray div.col a {
  color: #fff;
}

div.gray div.col a:hover {
  color: #ffe9f0;
}

div.head-detail h1 {
  margin: 0;
}

div.head-detail h3 {
  font-size: 18px;
}

div.head-detail div.col {
  padding-top: 10px;
}

table.table-detail thead th.ra {
  background: #980f3a;
  color: #fff;
  font-weight: normal;
  padding-right: 10px;
  min-width: 200px;
}

table.table-detail thead th.ra a {
  color: #fff;
}

table.table-detail thead th.ra i {
  margin: 0 5px;
  font-style: normal;
}

table.table-detail tr.paragraf th {
  background: #eeeeef;
  color: #7f7f82;
  font-size: 24px;
  padding: 2px 10px;
}

table.table-detail td {
  border-bottom: 1px solid #c2c2c2;
  padding: 10px 0 0 0;
  vertical-align: bottom;
}

div.about-text {
  width: 600px;
  float: left;
}

div.about-team {
  width: 300px;
  float: right;
}

div.about-team strong {
  color: #000;
}

div.about-team em,
div.about-team h2 {
  color: #980f3a;
}

div.sum {
  padding-bottom: 30px;
}

div.sum ul {
  float: left;
  margin-right: 60px;
}

div.sum ul li {
  margin-left: 0;
  padding-left: 0;
  background: transparent;
}

div.switch {
  position: absolute;
  top: 28px;
  right: 0;
  font-size: 30px;
}

div.switch i {
  font-style: normal;
  color: #aaaaad;
  margin: 0 5px;
}

div.table-order {
  color: #fff;
  background: #444;
  padding: 2px 8px 4px;
  font-size: 14px;
  margin-top: 26px;
}

div.table-order span {
  margin-right: 5px;
}

div.table-order i {
  color: #7f7f82;
  font-style: normal;
  margin: 0 5px;
}

div.table-order a {
  color: #fff;
}

div.table-order a:hover {
  color: #ffe9f0;
}

div.table-group {
  border-top: 1px solid #fff;
  background: #eeeeef;
  font-size: 16px;
  padding: 2px 8px 4px;
}

div.table-group-all {
  background: #ccc;
  color: #000;
}

div.table-group-all div.table-group-head,
div.table-group-all div.table-group-sum {
  font-weight: bold;
}

div.table-group-head {
  float: left;
  width: 500px;
}

td.table-detail-name {
  width: 508px;
}

.table-detail div.clr {
  top: -4px;
  position: relative;
}

.table-detail tr:hover td {
  background: #feffe5;
}

div.icon-small {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

div.development2 span {
  background: url(../images/graph2.png);
}

div.detail2 span {
  background: url(../images/search2.png);
}

div.icon-small a:hover span {
  background-position: 0 -270px !important;
}

div.table-group-more {
  float: left;
  width: 200px;
}

div.table-group-head span {
  font-size: 12px;
  color: #fff;
  background: #7f7f82;
  padding: 2px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

div.table-group-sum {
  float: right;
  width: 210px;
  text-align: right;
}

div.table-group-head a {
  padding-left: 26px;
  background: url(../images/table-head.png) 0 1px no-repeat;
  color: #980f3a;
}

div.table-group-head a:hover {
  color: #000;
  background-position: 0 -158px;
}

.table-open div.table-group-head a {
  background: url(../images/table-head2.png) 0 1px no-repeat;
}

.table-open div.table-group-head a:hover {
  background-position: 0 -158px;
}

a.icon {
  padding-left: 26px;
  color: #980f3a;
}

a.development {
  background: url(../images/graph2.png) 0 2px no-repeat;
  margin-right: 20px;
}

a.detail {
  background: url(../images/search2.png) 0 2px no-repeat;
}

a.icon:hover {
  background-position: 0 -268px;
  color: #000;
}

div.note {
  font-size: 14px;
  font-style: italic;
  color: #777;
  margin-bottom: 40px;
  margin-top: -24px;
}

div.graph-data ul li {
  position: relative;
}

div.graph-data ul li div.clr {
  position: absolute;
  left: 170px;
  top: 5px;
}

div.akce {
  position: absolute;
  top: 5px;
  right: 0;
  width: 300px;
}

div.akce div {
  margin-bottom: 4px;
}

div.doit {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}

div.doit div.doitWrap {
  background: #fff;
  border: 1px solid #c2c2c2;
  padding: 7px 10px 7px;
}

div.doit div.btn {
  padding-top: 16px;
}

div.doit div.btn a {
  padding: 4px 10px 5px;
}

div.doit h3 {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.2;
}

div.doit p {
  margin-bottom: 7px;
  font-size: 12px;
}

div.doit p.email {
  font-size: 16px;
  margin-bottom: 0;
}

div.doit p.email a {
  background: #fffdc7;
}

div.compare div.rel {
  font-size: 36px;
}

div.compare h1 {
  padding: 16px 0 0;
}

div.compare label.overlabel-apply {
  top: 3px;
}

div.compare input.text {
  width: 400px;
  padding: 6px 4px 8px;
  font-size: 36px;
}

div.compare h3 {
  padding-top: 20px;
}

div.compare ul a {
  margin-right: 20px;
}

/*========== [footer] ========================================================*/

div.footer {
  padding: 20px 0 40px;
  font-size: 14px;
}

div.foot1 {
  width: 320px;
}

div.footer a,
div.footer a:visited {
  color: #fff;
  text-shadow: 1px 1px 1px #690927;
  text-decoration: none;
}

div.footer a:hover {
  text-decoration: underline;
}

div.foot2 a {
  margin-right: 30px;
}


.codeHelper {
  display: block;
  display: none;
  background: url("../images/tmp/cislo.png") 50% 0 no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  opacity: 0.5;
  pointer-events: none;
  z-index: 100;
}


.headingWithSocialButtons {
}
.headingWithSocialButtons h1, .headingWithSocialButtons h2 {
  width: 580px;
  float: left;
  color: #980f3a;
}
.headingWithSocialButtons .socialButtons {
  float: right;
  width: 345px;
  text-align: right;
  padding-top: 14px;
}


.filtrObci {
  background: #eeeeef;
  margin: 20px 0 25px 0;
}
  .filtrObci .inner {
    padding: 10px 15px 17px 15px;
    position: relative;
  }
  .filtrObci .header {
    height: auto;
    min-height: 68px;
    font-size: 24px;
    color: #980f3a;
    background: #eeeeef;
    padding: 13px 20px 15px 20px;
    text-align: center;
    position: absolute;
    bottom: 100%;
    right: 0;
  }
  .filtrObci .row {
    margin-bottom: 13px;
  }
    .filtrObci .row .column1 {
      width: 135px;
      float: left;
      margin-right: 16px;
    }
    .filtrObci .row .column2 {
      width: 135px;
      float: left;
      margin-right: 16px;
    }
    .filtrObci .row .column3 {
      width: 220px;
      float: left;
      margin-right: 16px;
    }
    .filtrObci .row .column3.last {
      width: 135px;
    }
    .filtrObci .row .column4 {
      width: 106px;
      float: left;
      margin-right: 16px;
    }
    .filtrObci .row .column5 {
      width: 230px;
      float: left;
    }

  .filtrObci form {
  }
    .filtrObci form .label {
      font-size 14px;
    }
    .filtrObci form .radioControl {
      padding-top: 23px;
      margin-left: -1px;
    }
    .filtrObci form .radioControl label {
      margin-left: 5px;
    }
    .filtrObci form .radioControl label:first-child {
      margin-left: 0;
    }
    .filtrObci form .radioControl label input {
      margin: 0 4px 0 0;
    }
    .filtrObci form .radioControl label span {
      position: relative;
      top: -2px;
    }
    .filtrObci .submitControl {
      padding-top: 20px;
    }
    .filtrObci .downloadLink {
      padding-top: 23px;
      font-size: 14px;
    }
    form .formControl label {
      display: block;
      font-size: 14px;
    }
    .filtrObci form .formControl select,
    .filtrObci form .formControl input {
      display: block;
      width: 100%;
      height: 26px;
      font-size: 14px;
      padding: 3px;
    }
    .filtrObci form .sub {
      padding: 3px 10px 4px;
      height: 26px;
      font-size: 14px;
    }


table.filtrovaneObce td,
table.filtrovaneObce th  {
  padding: 3px 10px 4px 0;
  border-bottom: 1px solid #d3d3d3;
  vertical-align: bottom;
  font-size: 14px;
}
  table.filtrovaneObce .schodek {
    color: #ff0000;
    font-weight: bold;
  }
  table.filtrovaneObce .kraj {
    text-align: right;
  }

  table.filtrovaneObce a {
    font-size: 24px;
    text-decoration: none;
    padding: 2px 4px 1px;
  }

    table.filtrovaneObce a:hover {
      background: #980f3a;
      color: #fff;
    }



.detailCislaHeader {
  margin: 24px 0 29px 0;
}
  .detailCislaHeader h2 {
    color: #980f3a;
  }
  .detailCislaHeader h2 .paragraf {
    color: #cccccc;
  }
  .detailCislaHeader table {
    font-size: 24px;
    line-height: 1.21;
    width: auto;
    margin: 0 0 0 0;
  }
  .detailCislaHeader table th {
    width: 280px;
    font-weight: normal;
  }
  .detailCislaHeader table td {
    text-align: right;
    width: 155px;
  }

.detailCislaSekce {
  margin-bottom: 30px;
}
  .detailCislaSekce h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .detailCislaSekce .graf {
    margin-bottom: 13px;
  }
  .detailCislaSekce table {
    width: auto;
    margin: 0;
    font-size: 14px;
  }
    .detailCislaSekce table thead tr th,
    .detailCislaSekce table thead tr th  {
      color: #980f3a;
      padding: 0 5px 9px 0;
    }
    .detailCislaSekce table tbody tr th,
    .detailCislaSekce table tbody tr td {
      padding-right: 9px;
      font-weight: normal;
    }
    .detailCislaSekce table.dulezitost tbody th {
      min-width: 420px;
    }
    .detailCislaSekce table.dulezitost tbody td {
      min-width: 205px;
    }
    .detailCislaSekce table.vyvoj  {
      width: 100%;
    }
    .detailCislaSekce table.vyvoj tbody th {
      min-width: 140px;
    }
    .detailCislaSekce table.rozsah tbody th {
      min-width: 200px;
    }


.blue {
  color: #0a5595;
}
.red {
  color: #980f3a;
}
.grey {
  color: #777777;
}

h2.podtitul {
  font-size: 24px;
  color: #333;
  margin-top: -3px;
  font-weight: normal;
}


.porovnaniForm {
  background: #eeeeef;
  margin: 0 0 25px 0;
  padding: 15px 15px 17px 15px;
}
.porovnaniForm .col1,
.porovnaniForm .col2 {
  float: left;
  width: 135px;
  margin-right: 15px;
}

.porovnaniForm .col1 select,
.porovnaniForm .col2 select {
  width: 100%;
  height: 23px;
}

.porovnaniForm .col3,
.porovnaniForm .col4 {
  float: left;
  margin-right: 15px;
}
.porovnaniForm .col3,
.porovnaniForm .col4 {
    padding-top: 26px;
}
.porovnaniForm label span {
  position: relative;
  top: -2px;
}
.porovnaniForm .col5 {
  float: left;
  padding-top: 18px;
}


.porovnaniTable {

}
.porovnaniTable tr {

}
.porovnaniTable tr td {
  vertical-align: middle;
  padding: 0 10px;

  /*padding: 25px 10px 25px 10px;
  border-bottom: 1px solid #c2c2c2;*/
}
.porovnaniTable .grafLink {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/graph2.png") 0 0 no-repeat;
  overflow: hidden;
}
.porovnaniTable .grafLink:hover, .porovnaniTable .grafLink:focus {
  background: url("../images/graph2.png") 0 100% no-repeat;
}
.porovnaniTable .grafLink span {
  display: none;
}

.porovnaniTable tr td.col1 {
  width: 313px;
  font-size: 17px;
  color: #333;
}
.porovnaniTable tr td.col2 {
  max-width: 580px;
}

#income-expense-all {
  width: 940px;
  /*height: 500px;*/
  margin: 0px auto;
  display: block;
}

