<div class="col l">
  <h2>Co dále?</h2>
  <ul>
    <li>Komentujte rozpočet všech obcí kraje</li>
    <li><a href="{{path('PublicBudgetFrontendBundle_contact')}}">Napište nám, co máme zlepšit</a></li>
    <li><a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}">Přečtěte si více o rozpočtu obcí</a></li>
    <li><a href="{{path('PublicBudgetFrontendBundle_about_us')}}#jak-pomoci">Podpořte nás</a></li>
  </ul>
</div>