{% extends 'PublicBudgetFrontendBundle::administration-unit-detail-page-layout.html.twig' %}

{% block meta %}
   <meta property="og:title" content="Rozklikávací souhrný rozpočet obcí za {{budgetDataCollection.administrationUnit.name}}"/>
   <meta property="og:url" content="{{ url('PublicBudgetFrontendBundle_kraj_detail', {'slug':budgetDataCollection.administrationUnit.slug}) }}"/>
   <meta property="og:image" content="http://{{ app.request.host ~ asset('bundles/publicbudgetfrontend/images/logo.gif') }}"/>
   <meta property="og:description" content="{{budgetDataCollection.shareMessages.facebook}}"/>
{% endblock %}

{% block title %}Rozklikávací souhrný rozpočet obcí za {{ budgetDataCollection.administrationUnit.name }}{% endblock %}

{% block breadcrumbs %}<a href="/">Rozklikávací rozpočet obce</a> <a href="/seznam-obci">Seznam obcí</a> {{ budgetDataCollection.administrationUnit.name }}{% endblock %}

{% block page_title %}Souhrný rozpočet obcí v roce {{budgetDataCollection.activeYear}}{% endblock %}


{% block administration_unit_description_table %}
    <div class="main">
      <h1>{{ budgetDataCollection.administrationUnit.name }}</h1>
      <div class="rel">
        <div class="col2">
          <table>
            <tr>
              <th>Počet obyvatel</th>
              <td>{{ twig_number_format(budgetDataCollection.populationActiveYear) }}</td>
            </tr>
            <tr>
              <th>Stav v letech 2000–2013</th>
              {% if budgetDataCollection.totalBalance > 0 %}
                <td class="prebytek"><span>+{{twig_number_format(budgetDataCollection.totalBalance)}}&nbsp;Kč</span><a  id="income-expense-all-toggle" href="#">podrobnosti</a></td>
              {% else %}
                <td class="schodek"><span>{{twig_number_format(budgetDataCollection.totalBalance)}}&nbsp;Kč</span><a id="income-expense-all-toggle" href="#">podrobnosti</a></td>
              {% endif %}
            </tr>
          </table>
        </div>
        <div class="col col-souhrn l">
          <h3>Dejte vědět ostatním!</h3>
          {% include 'PublicBudgetFrontendBundle:Municipality:_share-buttons.html.twig' %}
        </div>
        <hr class="cleaner"/>
      </div>
    </div>
{% endblock %}

{% block bottom_menu %}
  {% include 'PublicBudgetFrontendBundle:Kraj:_bottom_menu.html.twig' %}
{% endblock %}
