<div class="col2">
  <h2>Co vy na to?</h2>
  <p>Jste zastupitel či obyvatel obce? Zabýváte se rozpočty? Komentujte tento rozpočet! Čísla samy o sobě říkají jen část pravdy. A to ještě zamlženě. Využijte příležitost sdílet své postřehy se všemi. Nebudou se pak řešit stejné věci pořád dokola a bude stačit odkázat na vyjádření níže.</p>
  <div class="comments">
    <div class="fb-comments" href="{{ url(budgetDataCollection.administrationUnitDetailRoute, {'slug':budgetDataCollection.administrationUnit.slug}) }}" data-num-posts="2" data-width="620" data-height="171"></div>
  </div>
</div>