<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/publicbudgetfrontend/css/ie6.css') }}" media="screen,projection"><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/publicbudgetfrontend/css/ie7.css') }}" media="screen,projection"><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/publicbudgetfrontend/css/ie8.css') }}" media="screen,projection"><![endif]-->

{% stylesheets
  'bundles/publicbudgetfrontend/css/style.css'
  'bundles/publicbudgetfrontend/css/jquery-ui-1.8.16.custom.css'
  'bundles/publicbudgetfrontend/css/jquery.fancybox-1.3.4.css'
  filter='cssrewrite'
%}
    <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ asset_url }}" />
{% endstylesheets %}

<link rel="stylesheet" type="text/css" media="print" href="{{ asset('bundles/publicbudgetfrontend/css/print.css') }}"/>