<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({appId: '375733939119225', status: true, cookie: true, xfbml: true});
  _gas.init(FB);
};
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>