<div class="red">
  <div class="main">
    <div class="clr footer">
      <div class="foot1 left">
        <a href="http://www.rozpocetverejne.cz">Rozpočet veřejně o.s.</a>
      </div>
      <div class="foot2 left">
        <a href="http://blog.rozpocetverejne.cz">Blog</a>
        <a href="{{ path('PublicBudgetFrontendBundle_legal_information') }}">Právní informace</a>
        <a href="{{ path('PublicBudgetFrontendBundle_data_source') }}">Data</a>
        <a href="http://www.nasstat.cz">Další iniciativy</a>
      </div>
      <div class="right">
        <a href="{{ path('PublicBudgetFrontendBundle_about_us') }}#jak-pomoci">Jak nám pomoci?</a>
        <a href="{{ path('PublicBudgetFrontendBundle_thank_you') }}">Děkujeme</a>
      </div>
    </div>
  </div>
</div>