<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>google.load("visualization", "1", {packages:["corechart", "table"]})</script>
<script type="text/javascript">
    var incomeExpenseGroupedByYear = {{incomeExpenseGroupedByYear|json_encode|raw}}
    var incomeSummary = {{incomeSummary|json_encode|raw}}
    var expenseSummary = {{expenseSummary|json_encode|raw}}
</script>
{% javascripts
  '@PublicBudgetFrontendBundle/Resources/public/js/helper-functions.js'
  '@PublicBudgetFrontendBundle/Resources/public/js/google-graphs-ajax.js'
  '@PublicBudgetFrontendBundle/Resources/public/js/google-graphs-detail-page.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}