{% javascripts
    '@PublicBudgetFrontendBundle/Resources/public/js/jquery-1.7.1.min.js'
    '@PublicBudgetFrontendBundle/Resources/public/js/jquery-ui-1.8.16.custom.min.js'
    '@PublicBudgetFrontendBundle/Resources/public/js/jquery.fancybox-1.3.4.pack.js'
    '@PublicBudgetFrontendBundle/Resources/public/js/label.js'
    '@PublicBudgetFrontendBundle/Resources/public/js/search-autocomplete.js'
    '@PublicBudgetFrontendBundle/Resources/public/js/analytics.js'
    '@PublicBudgetFrontendBundle/Resources/public/js/ga.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}