          <div class="mm">
            <ul>
              <li {% if activeItem == 1%}class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_list') }}">Seznam obcí</a></li>
              <li {% if activeItem == 2%}class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_compare_index') }}">Porovnání</a></li>
              <li {% if activeItem == 3%}class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_municipality_filter') }}">Žebříčky</a></li>
              <li {% if activeItem == 4%}class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_how_to_read_budget') }}">Jak číst rozpočet</a></li>
              <li {% if activeItem == 5%}class="active"{% endif %}><a href="{{ path('PublicBudgetFrontendBundle_about_us') }}">O nás</a></li>
            </ul>
          </div>