<div class="search">
  <form method="get" action="{{path('PublicBudgetFrontendBundle_municipality_search')}}">
    <label for="search" class="overlabel">Název obce</label>
    <input name="q" type="text" class="text" id="search" />
    <input type="submit" class="sub" value="Najít obec" />
  </form>
</div>