<div class="list year">
  <ul>
    <li{% if activeYear is null %} class="active"{% endif %}><a href="{{ smart_path({},'PublicBudgetFrontendBundle_municipality_timeline',['rok']) }}">Úvod</a></li>
    <li{% if activeYear == '2013' %} class="active"{% endif %}><a href="{{ smart_path({}, route, ['rok']) }}#rok">2013</a></li>
    {% for year in range(2012, 2000) %}
      <li{% if activeYear == year %} class="active"{% endif %}><a href="{{ smart_path({'rok':year}, route) }}#rok">{{year}}</a></li>
    {% endfor %}
  </ul>
</div>