<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="cs" lang="cs">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Kontrolujte rozpočet své obce. Zjistěte, jaký má vaše obec rozpočet. Ptejte se na něj svého zastupitele nebo starosty. Začněte ovlivňovat, co se děje s Vašimi penězi!" />
  <meta property="fb:app_id" content="375733939119225"/>
  <meta property="og:type" content="website"/>
  <meta name="p:domain_verify" content="8be8cc6a246313baa34b69920315d713"/>
  {% block meta %}{% endblock %}
  <title>{% block title %}Rozklikávací rozpočet obce{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ asset('bundles/publicbudgetfrontend/images/favicon.png') }}" />
  {% include 'PublicBudgetFrontendBundle::_css.html.twig' %}
  {% block stylesheets %}{% endblock %}
  {% include 'PublicBudgetFrontendBundle::_js.html.twig' %}
  {% include 'PublicBudgetFrontendBundle::_google-graph-detail-page-scripts.html.twig' with {incomeExpenseGroupedByYear: budgetDataCollection.incomeExpenseGroupedByYear, incomeSummary: budgetDataCollection.incomeSummary.getChildrenAsArray(), expenseSummary: budgetDataCollection.expenseSummary.getChildrenAsArray()} %}
  {% block javascripts %}{% endblock %}
</head>
<body>
    {% include 'PublicBudgetFrontendBundle::_google_tag_manager.html.twig' %}

    <div class="mainWrap">
    {% block header %}
      <div class="main">

        <div class="header">
          <a href="{{path('PublicBudgetFrontendBundle_homepage')}}">
            <div class="logo imgr">
              Rozpočet veřejně<span></span>
            </div>
          </a>
          {% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 1} %}{% endblock %}
          {% include 'PublicBudgetFrontendBundle::_search-form.html.twig' %}
        </div>

      </div>

      <div class="bread">
        <div class="main">
          <span>Jste zde:</span> {% block breadcrumbs %}{% endblock %}
        </div>
      </div>
    {% endblock %}

    <div class="head">
      {% block administration_unit_description_table %}{% endblock %}
      <div id="income-expense-all" style="display: none;"></div>
    </div>

    <div class="main">
      <div class="content content-detail">
        {% include 'PublicBudgetFrontendBundle::_year_menu.html.twig' with {'activeYear': budgetDataCollection.activeYear, 'route': budgetDataCollection.administrationUnitDetailRoute} %}

        <div class="wrapper">
          <div class="graph rel">
            <h2>{% block page_title %}Rozpočet obce v roce {{budgetDataCollection.activeYear}}{% endblock %}</h2>
            {% if budgetDataCollection.totalBalanceActiveYear > 0 %}
              <h3 class="prebytek">Schodek/přebytek v roce {{budgetDataCollection.activeYear}}: <span>+{{twig_number_format_for_display(budgetDataCollection.totalBalanceActiveYear, budgetDataCollection.display)}}</span></h3>
            {% else %}
              <h3 class="schodek">Schodek/přebytek v roce {{budgetDataCollection.activeYear}}: <span>{{twig_number_format_for_display(budgetDataCollection.totalBalanceActiveYear, budgetDataCollection.display)}}</span></h3>
            {% endif %}
            <div class="note">Pozor, schodek neznamená, že obec hospodaří špatně a přebytek, že hospodaří dobře, více o <a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}#financovani">financování</a> a <a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}#jaky-rozpocet-je-dobry-a-spatny">hospodaření</a>. Říkají vám, že jsou zde špatná data? Jsou <a href="{{ path('PublicBudgetFrontendBundle_data_source') }}">oficiální</a>.</div>

            <div class="switch">
              {% if budgetDataCollection.display == 'obyvatel' %}
                <a href="{{ smart_path({'zobrazeni':'celkem'}) }}">celkem</a>
                <i>/</i>
                <strong>na obyvatele</strong>
              {% else %}
                <strong>celkem</strong><i>/</i>
                <a href="{{ smart_path({'zobrazeni':'obyvatel'}) }}">na obyvatele</a>
              {% endif %}
            </div>
          </div>

          <div style="display:none">
            <div id="google-graph-container">
              <div class="graph rel">
              </div>
              <div style='height:520px;width:960px' id="google-graph"></div>
            </div>
          </div>

          <div class="graph-wrap">
          <div class="clr graph-wrap2">
            <div class="half left">
              <div class="gback">
                <h3>Příjmy</h3>
              </div>
              <div class="graph-detail">
                <div id="chart_div-income"></div>
              </div>
              <div class="graph-data">
                {% set colors = ['#3366cc','#dc3912','#ff9900','#109618','#990099','#0099c6','#dd4477','#66aa00','#b82e2e','#316395','#994499','#22aa99','#aaaa11','#6633cc'] %}
                {% set counter = 0 %}
                {% set hasNegativeSummary = false %}
                <ul>
                  {% for summary in budgetDataCollection.incomeSummary.summaries %}
                     <li><a href="{{smart_path({'activeYear':budgetDataCollection.activeYear,'type':'prijmy','section':twig_slugify(summary.name)},budgetDataCollection.administrationUnitSectionDetailRoute,['rok'])}}">{{summary.name}}</a> <span style="border-bottom: 1px solid {{colors[counter]}}">{{ twig_number_format_for_display(summary.value, budgetDataCollection.display) }}</span>
                    <div class="clr">
                      <div class="imgr left icon-small development2">
                        <a data-graph-options="{{summary.code}} prijmy {{budgetDataCollection.administrationUnit.slug}} {{budgetDataCollection.administrationUnitClass}} {{budgetDataCollection.display}}" data-graph-header="Příjmy - {{summary.name}};Příjmy;{{summary.name}};{{budgetDataCollection.activeYear}};Pol. {{summary.code}}" href="#google-graph-container" class="google-graph-ajax"><span></span></a>
                      </div>
                    </div>
                   </li>
                     {% set counter = counter + 1 %}
                     {% if summary.value < 0 %}
                        {% set hasNegativeSummary = true %}
                     {% endif %}
                  {% endfor %}
                </ul>
                <div class="sum rel clr">
                  <div class="left">Příjmy</div>
                  <div class="right">{{ twig_number_format_for_display(budgetDataCollection.incomeSummary.value, budgetDataCollection.display) }}</div>

                  <div class="clr">
                    <div class="imgr left icon-small development2">
                      <a data-graph-options="1,2,3,4 prijmy {{budgetDataCollection.administrationUnit.slug}} {{budgetDataCollection.administrationUnitClass}} {{budgetDataCollection.display}}" data-graph-header="Příjmy;Příjmy;Celkem;{{budgetDataCollection.activeYear}};Pol. 1,2,3,4" href="#google-graph-container" class="google-graph-ajax"><span></span></a>
                    </div>
                  </div>
                </div>
                {% if hasNegativeSummary %}
                  <p><em>Opačné znaménko znamená, že vratky např. předem zaplacených záloh převýšily skutečné příjmy.</em></p>
                {% endif %}
                <p><em>Jedná se o příjmy bez přesunů z účtů a fondů obce, více o <a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}#presuny">přesunech</a>.</em></p>
              </div>
            </div>
            <div class="half right">
              <a id="vydaje"></a>
              <div class="gback">
                <h3>Výdaje</h3>
              </div>
              <div style="text-align: center">
                 {% if budgetDataCollection.expensesSectionFilter == 'vse' or not budgetDataCollection.expensesSectionFilter %}
                    <strong>Vše</strong>
                 {% else %}
                    <a href="{{smart_path({'vydaje':'vse'})}}#vydaje">Vše</a>
                 {% endif %}
                 <i>/</i>
                 {% if budgetDataCollection.expensesSectionFilter == 'provozni' %}
                    <strong>Provoz</strong>
                 {% else %}
                    <a href="{{smart_path({'vydaje':'provozni'})}}#vydaje">Provoz</a>
                 {% endif %}
                 <i>/</i>
                 {% if budgetDataCollection.expensesSectionFilter == 'investicni' %}
                    <strong>Investice</strong>
                 {% else %}
                    <a href="{{smart_path({'vydaje':'investicni'})}}#vydaje">Investice</a>
                 {% endif %}
              </div>
              <div class="graph-detail">
                <div id="chart_div-expense"></div>
              </div>
              <div class="graph-data">
                {% set counter = 0 %}
                {% set hasNegativeSummary = false %}
                <ul>
                  {% for summary in budgetDataCollection.expenseSummary.summaries %}
                     <li><a href="{{smart_path({'activeYear':budgetDataCollection.activeYear,'type':'vydaje','section':twig_slugify(summary.name)},budgetDataCollection.administrationUnitSectionDetailRoute,['rok'])}}">{{summary.name}}</a> <span style="border-bottom: 1px solid {{colors[counter]}}">{{ twig_number_format_for_display(summary.value, budgetDataCollection.display) }}</span>
                    <div class="clr">
                      <div class="imgr left icon-small development2">
                        <a data-graph-options="sc,{{summary.code}}|tc,{{budgetDataCollection.expenseClassCodeFilter}} vydaje {{budgetDataCollection.administrationUnit.slug}} {{budgetDataCollection.administrationUnitClass}} {{budgetDataCollection.display}}" data-graph-header="Výdaje - {{summary.name}};Výdaje;{{summary.name}};{{budgetDataCollection.activeYear}};§ {{summary.code}}" href="#google-graph-container" class="google-graph-ajax"><span></span></a>
                      </div>
                    </div>
                   </li>

                     {% set counter = counter + 1 %}
                     {% if summary.value < 0 %}
                        {% set hasNegativeSummary = true %}
                     {% endif %}
                  {% endfor %}
                </ul>
                <div class="sum rel clr">
                  <div class="left">Výdaje</div>
                  <div class="right">{{ twig_number_format_for_display(budgetDataCollection.expenseSummary.value, budgetDataCollection.display) }}</div>
                  <div class="clr">
                    <div class="imgr left icon-small development2">
                      <a data-graph-options="tc,{{budgetDataCollection.expenseClassCodeFilter}} vydaje {{budgetDataCollection.administrationUnit.slug}} {{budgetDataCollection.administrationUnitClass}} {{budgetDataCollection.display}}" data-graph-header="Výdaje;Výdaje;Celkem;{{budgetDataCollection.activeYear}};§ 1,2,3,4,5,6" href="#google-graph-container" class="google-graph-ajax"><span></span></a>
                    </div>
                  </div>
                </div>
                {% if hasNegativeSummary %}
                  <p><em>Opačné znaménko znamená, že vratky např. předem zaplacených záloh převýšily skutečné výdaje.</em></p>
                {% endif %}
                <p><em>Jedná se o výdaje bez přesunů na účty a fondy obce, více o <a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}#presuny">přesunech</a>.</em></p>
              </div>
            </div>
          </div>
          </div>

          <div class="ptb">
            <div class="graph-wrap">
            <div class="graph-wrap2 clr">
              <div class="half left">
                <div class="gback">
                  <h3>Schodek/Přebytek</h3>
                </div>
                <div class="graph-data graph-data-pad">
                  <ul>
                    {% for summary in budgetDataCollection.financingSummary.summaries %}
                      <li><a href="{{smart_path({'activeYear':budgetDataCollection.activeYear,'type':'financovani','section':twig_slugify(summary.name)},budgetDataCollection.administrationUnitSectionDetailRoute,['rok'])}}">{{summary.name}}</a> <span>{{twig_number_format_for_display(summary.value, budgetDataCollection.display)}}</span></li>
                    {% endfor %}
                  </ul>
                  <p class="sum">{{twig_number_format_for_display(budgetDataCollection.financingSummary.value, budgetDataCollection.display)}}</p>
                  <p><em>Schodek či přebytek za daný rok neříká nic o celkovém majetku obce ani o účelnosti výdajů. Více o <a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}#financovani">financování</a> a <a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}#jaky-rozpocet-je-dobry-a-spatny">hospodaření</a>.</em></p>
                </div>
              </div>
              <div class="half right">
                <div class="gback">
                  <h3>Přesuny</h3>
                </div>
                <div class="graph-data graph-data-pad">
                  <ul>
                    {% for summary in budgetDataCollection.transferSummary.summaries %}
                      <li><a href="{{smart_path({'activeYear':budgetDataCollection.activeYear,'type':'presuny','section':twig_slugify(summary.name)},budgetDataCollection.administrationUnitSectionDetailRoute,['rok'])}}">{{summary.name}}</a> <span>{{twig_number_format_for_display(summary.value, budgetDataCollection.display)}}</span></li>
                    {% endfor %}
                  </ul>
                  <p><em>Jedná se o vnitřní přesuny peněžních prostředků obce. Nejedná se tedy o skutečné příjmy a výdaje obce. O přesuny jsou navýšeny příjmy a výdaje v tzv. nekonsolidované formě rozpočtu. Více o <a href="{{path('PublicBudgetFrontendBundle_how_to_read_budget')}}#presuny">přesunech</a>.</em></p>
                </div>
              </div>
            </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="head ptop" id="diskuse">
      <div class="main">
        <div class="clr">
          {% include 'PublicBudgetFrontendBundle::_comments.html.twig' %}
          {% block bottom_menu %}{% endblock %}
        </div>

        <div class="fb-main">
          <div class="fb-like-box" data-href="http://www.facebook.com/pages/Rozpo%C4%8Det-ve%C5%99ejn%C4%9B/146313132095186" data-width="940" data-height="184" data-show-faces="true" data-stream="false" data-header="false"></div>
        </div>

      </div>

    </div>
    {% block footer %}
      {% include 'PublicBudgetFrontendBundle::_footer_menu.html.twig' %}
    {% endblock %}
    </div>

    {% include 'PublicBudgetFrontendBundle::_fb.html.twig' %}

</body>
</html>
