<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="cs" lang="cs">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Kontrolujte rozpočet své obce. Zjistěte, jaký má vaše obec rozpočet. Ptejte se na něj svého zastupitele nebo starosty. Začněte ovlivňovat, co se děje s Vašimi penězi!" />
  <meta property="fb:app_id" content="375733939119225"/>
  <meta property="og:type" content="website"/>
  <meta name="p:domain_verify" content="8be8cc6a246313baa34b69920315d713"/>
  {% block meta %}{% endblock %}
  <title>{% block title %}Rozklikávací rozpočet obce{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ asset('bundles/publicbudgetfrontend/images/favicon.png') }}" />
  {% include 'PublicBudgetFrontendBundle::_css.html.twig' %}
  {% block stylesheets %}{% endblock %}
  {% include 'PublicBudgetFrontendBundle::_js.html.twig' %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script>google.load("visualization", "1", {packages:["corechart", "table"]})</script>
  {% javascripts
    '@PublicBudgetFrontendBundle/Resources/public/js/helper-functions.js'
    '@PublicBudgetFrontendBundle/Resources/public/js/google-graphs-ajax.js'
    '@PublicBudgetFrontendBundle/Resources/public/js/municipality-section-detail.js'
  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% block javascripts %}{% endblock %}
</head>
<body>
    {% include 'PublicBudgetFrontendBundle::_google_tag_manager.html.twig' %}

    <div class="mainWrap">
    {% block header %}
      <div class="main">

        <div class="header">
          <a href="{{path('PublicBudgetFrontendBundle_homepage')}}">
            <div class="logo imgr">
              Rozpočet veřejně<span></span>
            </div>
          </a>
          {% block menu %}{% include 'PublicBudgetFrontendBundle::_menu.html.twig' with {'activeItem': 1} %}{% endblock %}
          {% include 'PublicBudgetFrontendBundle::_search-form.html.twig' %}
        </div>

      </div>

      <div class="bread">
        <div class="main">
          <span>Jste zde:</span> {% block breadcrumbs %}{% endblock %}
        </div>
      </div>
    {% endblock %}

    {% block intro %}{% endblock %}
    <div class="head head-detail">
      <div class="main">

        <div class="clr rel">
          <div class="col2">
            <h1>{{budgetDataCollection.administrationUnit.name}}</h1>
            <h3><a href="{{smart_path({'rok':budgetDataCollection.activeYear},budgetDataCollection.administrationUnitDetailRoute, ['razeni'])}}">« celý rozpočet</a></h3>
          </div>
          {% block links %}{% endblock %}
          <div class="col l">
            {% include 'PublicBudgetFrontendBundle:Municipality:_share-buttons.html.twig' %}
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="content content-detail">
        <div class="list year">
          <ul>
            <li><a href="{{ smart_path({},'PublicBudgetFrontendBundle_municipality_timeline',['rok']) }}">Úvod</a></li>
            {% for year in range(2013, 2000) %}
              <li{% if budgetDataCollection.activeYear == year %} class="active"{% endif %}><a href="{{smart_path({'activeYear':year})}}">{{year}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="wrapper">
          <div class="graph rel">
            <h2 style="padding-right: 300px;">{{budgetDataCollection.typeName}} - {{budgetDataCollection.sectionName|lower}} v roce {{budgetDataCollection.activeYear}}</h2>
            <!-- <div class="btn clr">
              <a href="{{ path('PublicBudgetFrontendBundle_municipality_filter') }}?filtr_obci[year]={{budgetDataCollection.activeYear}}">Srovnat s podobnými obcemi</a>
            </div> -->
            <div class="switch">
              {% if budgetDataCollection.display == 'obyvatel' %}
                <a href="{{ smart_path({'zobrazeni':'celkem'}) }}">celkem</a>
                <i>/</i>
                <strong>na obyvatele</strong>
              {% else %}
                <strong>celkem</strong><i>/</i>
                <a href="{{ smart_path({'zobrazeni':'obyvatel'}) }}">na obyvatele</a>
              {% endif %}
            </div>
          </div>

          <div class="table-order">
            <div class="clr">
              <div class="left">
                <span>Seřadit dle:</span>
                {% if budgetDataCollection.sort == 'paragraf' %}
                  <a href="{{ smart_path({'razeni':'velikost'}) }}">velikosti</a>
                    <i>/</i>
                  <strong>paragrafu</strong>
                {% else %}
                  <strong>velikosti</strong>
                    <i>/</i>
                  <a href="{{ smart_path({'razeni':'paragraf'}) }}">paragrafu</a>
                {% endif %}
              </div>
              {% if budgetDataCollection.type == 'vydaje'  %}
              <div class="right">
                 {% if budgetDataCollection.expensesSectionFilter == 'provozni' %}
                 <a href="{{smart_path({'vydaje':'vse'})}}">Vše</a> <i>/</i> <strong>Provoz</strong> <i>/</i> <a href="{{smart_path({'vydaje':'investicni'})}}">Investice</a>
                 {% elseif budgetDataCollection.expensesSectionFilter == 'investicni' %}
                 <a href="{{smart_path({'vydaje':'vse'})}}">Vše</a> <i>/</i> <a href="{{smart_path({'vydaje':'provozni'})}}">Provoz</a> <i>/</i> <strong>Investice</strong>
                 {% else %}
                 <strong>Vše</strong> <i>/</i> <a href="{{smart_path({'vydaje':'provozni'})}}">Provoz</a> <i>/</i> <a href="{{smart_path({'vydaje':'investicni'})}}">Investice</a>
                 {% endif %}
              </div>
              {% endif %}
            </div>
          </div>

          <div style="display:none">
            <div id="google-graph-container">
              <div class="graph rel">
              </div>
              <div style='height:520px;width:960px' id="google-graph"></div>
            </div>
          </div>

          <div class="table-group table-group-all">
            <div class="clr">
              <div class="table-group-head">
                Celkem
              </div>
              {% if budgetDataCollection.type == 'prijmy' or budgetDataCollection.type == 'vydaje' %}
                 {% if budgetDataCollection.type == 'vydaje' %}
                   {% set code = 'sc,' ~ budgetDataCollection.sectionCode ~ '|tc,' ~ budgetDataCollection.expenseClassCodeFilter %}
                 {% else %}
                   {% set code = budgetDataCollection.sectionCode %}
                 {% endif %}
              <div class="table-group-more">
                <a data-graph-options="{{code}} {{budgetDataCollection.type}} {{budgetDataCollection.administrationUnit.slug}} {{budgetDataCollection.administrationUnitClass}} {{budgetDataCollection.display}}" data-graph-header="{{budgetDataCollection.typeName}} - {{budgetDataCollection.sectionName|lower}};{{budgetDataCollection.typeName}};{{budgetDataCollection.sectionName}};{{budgetDataCollection.activeYear}};{{budgetDataCollection.classificationTypeMark}} {{budgetDataCollection.sectionCode}}" href="#google-graph-container" class="google-graph-ajax icon development">Vývoj</a>
                {#<a href="" class="icon detail">Detail</a>#}
              </div>
              {% endif %}
              <div class="table-group-sum">
                {{twig_number_format_for_display(budgetDataCollection.groupCollection.value, budgetDataCollection.display)}}
              </div>
            </div>
          </div>

          {% for group in budgetDataCollection.groupCollection.summaries %}
            <div>
              <div class="table-group">
                <div class="clr">
                  <div class="table-group-head">
                    <a id="{{group.code}}" href="#" class="toggle-detail-items">{{group.name}}</a>
                    <span>{{budgetDataCollection.classificationTypeMark}} {{group.code}}</span>
                  </div>
                  {% if budgetDataCollection.type == 'prijmy' or budgetDataCollection.type == 'vydaje' %}
                      {% if budgetDataCollection.type == 'vydaje' %}
                        {% set code = 'sc,' ~ group.code ~ '|tc,' ~ budgetDataCollection.expenseClassCodeFilter %}
                      {% else %}
                        {% set code = group.code %}
                      {% endif %}
                  <div class="table-group-more">
                    <a data-graph-options="{{code}} {{budgetDataCollection.type}} {{budgetDataCollection.administrationUnit.slug}} {{budgetDataCollection.administrationUnitClass}} {{budgetDataCollection.display}}" data-graph-header="{{group.name}};{{budgetDataCollection.typeName}};{{budgetDataCollection.sectionName}};{{budgetDataCollection.activeYear}};{{budgetDataCollection.classificationTypeMark}} {{group.code}}" href="#google-graph-container" class="google-graph-ajax icon development">Vývoj</a>
                    {#<a href="" class="icon detail">Detail</a>#}
                  </div>
                  {% endif %}
                  <div class="table-group-sum">
                    {{twig_number_format_for_display(group.value, budgetDataCollection.display)}}
                  </div>
                </div>
              </div>
              <table class="table-detail" style="display:none;">
              {% for subgroup in group.summaries %}
                  <tr>
                    <td class="table-detail-name">{{subgroup.name}}</td>
                    {% if budgetDataCollection.type == 'prijmy' or budgetDataCollection.type == 'vydaje' %}
                      {% if budgetDataCollection.type == 'vydaje' %}
                        {% set code = "sc," ~ subgroup.code ~ "|tc," ~ budgetDataCollection.expenseClassCodeFilter %}
                      {% else %}
                        {% set code = subgroup.code %}
                      {% endif %}
                    <td>
                      <div class="clr">
                        <div class="imgr left icon-small development2">
                          <a data-graph-options="{{code}} {{budgetDataCollection.type}} {{budgetDataCollection.administrationUnit.slug}} {{budgetDataCollection.administrationUnitClass}} {{budgetDataCollection.display}}" data-graph-header="{{subgroup.name}};{{budgetDataCollection.typeName}};{{budgetDataCollection.sectionName}};{{budgetDataCollection.activeYear}};{{budgetDataCollection.classificationTypeMark}} {{subgroup.code}}" href="#google-graph-container" class="google-graph-ajax"><span></span></a>
                        </div>
                        {#<div class="imgr left icon-small detail2"><a href=""><span></span></a></div>#}
                      </div>
                    </td>
                    {% endif %}
                    <td class="ra">{{twig_number_format_for_display(subgroup.value, budgetDataCollection.display)}}</td>
                  </tr>
              {% endfor %}
              </table>
            </div>
          {% endfor %}

        </div>

      </div>
    </div>

    <div class="head ptop" id="diskuse">
      <div class="main">
        <div class="clr">
          {% include 'PublicBudgetFrontendBundle::_comments.html.twig' %}
          {% block bottom_menu %}{% endblock %}
        </div>
      </div>
    </div>
    {% block footer %}
      {% include 'PublicBudgetFrontendBundle::_footer_menu.html.twig' %}
    {% endblock %}
    </div>

    {% include 'PublicBudgetFrontendBundle::_fb.html.twig' %}

</body>
</html>
