<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="cs" lang="cs">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Kontrolujte rozpočet své obce. Zjistěte, jaký má vaše obec rozpočet. Ptejte se na něj svého zastupitele nebo starosty. Začněte ovlivňovat, co se děje s Vašimi penězi!" />
  <meta property="fb:app_id" content="375733939119225"/>
  <meta property="og:type" content="website"/>
  <meta name="p:domain_verify" content="8be8cc6a246313baa34b69920315d713"/>
  {% block meta %}{% endblock %}
  <title>{% block title %}Rozklikávací rozpočet obce{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ asset('bundles/publicbudgetfrontend/images/favicon.png') }}" />
  {% include 'PublicBudgetFrontendBundle::_css.html.twig' %}
  {% include 'PublicBudgetFrontendBundle::_js.html.twig' %}
  {% block javascripts %}{% endblock %}
  {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'PublicBudgetFrontendBundle::_google_tag_manager.html.twig' %}

    <div class="mainWrap">
    {% block header %}
      <div class="main">

        <div class="header">
          <a href="{{path('PublicBudgetFrontendBundle_homepage')}}">
            <div class="logo imgr">
              Rozpočet veřejně<span></span>
            </div>
          </a>
          {% block menu %}{% endblock %}
          {% include 'PublicBudgetFrontendBundle::_search-form.html.twig' %}
        </div>

      </div>


      <div class="bread">
        <div class="main">
          <span>Jste zde:</span> {% block breadcrumbs %}{% endblock %}
        </div>
      </div>
    {% endblock %}

    {% block intro %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
      {% include 'PublicBudgetFrontendBundle::_footer_menu.html.twig' %}
    {% endblock %}
    </div>

    {% include 'PublicBudgetFrontendBundle::_fb.html.twig' %}

</body>
</html>
